.header-body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    background-color: #F2E2CE;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-center {
    flex-grow: 1;
    text-align: center;
    margin-left: 25%;
}

.header-center a {
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: black;
    transition: color 0.3s;
}

.header-notification-container {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-notification-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    position: absolute;
    top: 7px;
    left: 20px;
}

/* 체크박스가 체크된 경우 알림 창 보이게 하기 */
.header-notification-toggle:checked ~ .header-notification-list {
    display: block;
}


/* 알림 창 보이게 하기 */
.notification-show {
    display: block;
    z-index: 9999;
    position: fixed;
}

.header-notification-item {
    background-color: white;
    margin: 15px 0;
    border-radius: 5px;
    width: 100%;
    height: 70px;
    font-size: 15px;
    letter-spacing: -1px;
    position: relative;
}

.header-notification-item.not-read {
    background-color: rgba(176, 208, 238, 0.7);
}

.header-notification-text {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

.header-notification-content-container {
    height: 90%;
}

.header-notification-date {
    font-size: 12px;
    color: gray;
}

.header-notification-content {
    width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.header-notification-delete {
    position: absolute;
    top: -5px;
    right: 2px;
    user-select: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.header-notification-delete:hover {
    color: red;
}

.header-notification-item:hover > .header-notification-text {
    text-decoration: underline;
}
.header-notification-list {
    position: fixed; /* fixed로 설정하여 항상 화면의 최상위에 위치 */
    top: 50px; /* 화면 상단에서의 거리 조정 */
    right: 20px; /* 화면 오른쪽에서의 거리 조정 */
    width: 380px;
    height: 400px;
    padding: 10px;
    list-style: none;
    z-index: 9999 !important; /* 매우 높은 z-index 값 설정 */
    background: #f0f3fa;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #eee, 0 4px 8px 0 rgba(0, 0, 0, .3);
    display: none; /* 처음에 알림 창이 보이지 않게 함 */
}