.header-body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    background-color: #F2E2CE;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-center {
    flex-grow: 1;
    text-align: center;
    /* margin-left: 25%; */
}

.header-center a {
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: black;
    transition: color 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.header-notification-toggle {
    display: none;
}

.header-notification-btn {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15%;
    /* background-color: rgba(255, 255, 255, 1); */
    border: none;
}

.header-notification-container {
    position: absolute;
    top: 60px; /* 부모 요소의 높이만큼 아래로 이동 */
    right: 20px;
    width: 380px;
    height: 400px;
    padding: 10px;
    background: #f0f3fa;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #eee, 0 4px 8px 0 rgba(0, 0, 0, .3);
    display: none; /* 기본적으로 숨겨진 상태 */
    z-index: 9999;
}

/* 체크박스가 체크된 경우 알림 창 보이게 하기 */
.header-notification-toggle:checked ~ .header-notification-container {
    display: block;
}

.header-notification-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-notification-item {
    background-color: white;
    margin: 15px 0;
    border-radius: 5px;
    width: 100%;
    height: 70px;
    font-size: 15px;
    letter-spacing: -1px;
    position: relative;
}

.header-notification-item.not-read {
    background-color: rgba(176, 208, 238, 0.7);
}

.header-notification-text {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

.header-notification-content-container {
    /* height: 90%; */
}

.header-notification-date {
    font-size: 12px;
    color: gray;
}

.header-notification-content {
    width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.header-notification-delete {
    position: absolute;
    top: 10px;
    right: 20px;
    user-select: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.header-notification-delete:hover {
    color: red;
}

.header-notification-item:hover > .header-notification-text {
    text-decoration: underline;
}

.content {
    margin-top: 70px; /* Fixed 요소 아래 내용이 겹치지 않도록 여백 추가 */
    padding: 20px;
    background-color: cornflowerblue;
    width: 400px;
    height: 400px; /* 긴 페이지를 만들어 스크롤 테스트 */
    /* display: none; */
    position: fixed;
    z-index: 9999;
    top: 0; right:100px;
}

.notification-show{
    display: block;
}

.header-notification-num{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: red;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    top: 20%; right: 14%;
}

.header-notification-num > span{
    line-height: 16px;
}
