.libSwiper > * {
  user-select: none;
}


.libBody{
  display: flex;
  flex-direction: row;
}

.libContentPocket{
  align-items: center;
}

.libBody .libContentBox:first-child {
  width: 65%;
}

.libBody .libContentBox:nth-child(2) {
  width: 35%;
}

.libContentBox{
  display: flex;
  flex-direction: column;
  border: 1px dotted red;

}

.libContent{
  padding: 10px;

  border: 1px solid black;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;

}

.libSelectedContent{
  background-color: #bb800052;
  
}

.right > .libContent:hover{
  cursor: pointer;

  background-color: #bb800052;

  transition: background-color 0.3s;
}

.libContentHead{
  font-size: 35px;
}

.libSlider{
  min-height: 100%;
  display: none;
}

.curShow{
  display: block;
}

.libShowSlider{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.libContentText{
  font-size: 20px;
}

.libIndexContent{
  margin: 10px;
  font-size: 20px;
}








/* ------------------ 이미지 관련 css ------------------ */
#libBuilding{
  margin: 10px;
  width: 80%;
  border-radius: 10px;
}

#libBooksImg{
  margin: 10px;
  width: 50%;
  border-radius: 10px;
}

#libSeatImg{
  margin: 10px;
  width: 50%;
  border-radius: 10px;
}


#libSpaceImg{
  margin: 10px;
  width: 50%;
  border-radius: 10px;
}


.libImg{
  margin: 10px;
  height: 55vh;
}



/* 기타 css */

/* 각 페이지 링크 css */
.libLink {
  display: inline-block; /* 인라인 블록 요소로 설정 */
  padding: 20px; /* 높이를 높게 하기 위한 패딩 설정 */
  font-size: 16px; /* 글자 크기 */
  background-color: #f0f0f0; /* 배경 색상 */
  border-radius: 5px; /* 모서리 둥글게 */
  text-align: center; /* 텍스트 가운데 정렬 */
  vertical-align: middle; /* 수직 정렬 */
  cursor: pointer; /* 마우스 커서 포인터로 변경 */
  transition: background-color 0.3s; /* 배경색 전환 효과 */

  font-style: none;
}

a.libLink {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상 상속 */
}

.libLink:hover{
  background-color: #bb800052;
  color: orangered;
  cursor: pointer;
  transition-duration: background-color 0.3s;
}

.libLink > span{
  margin: 10px;
}


/* 부모 컨테이너 */
#libInfoAtIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; /* 아이템들이 상단에 정렬 */
}

/* 왼쪽 컨텐츠 */
.libLeftContent {
  flex: 1; /* 공간을 남은 곳을 채움 */
  padding: 10px;
}

#infoContainer {
  position: relative;
  height: 80vh; /* 적절한 높이 설정 */
  overflow: hidden;
}

#infoContainer > div {
  position: absolute;
  width: 100%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(100%);
}

#infoContainer > div.active {
  opacity: 1;
  transform: translateY(0);
}

/* 오른쪽 버튼 모음 */
.libRightContent {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 자식 요소들이 세로로 가운데 정렬 */
  align-items: center; /* 아이템들이 세로로 가운데 정렬 */
  height: 100%; /* 부모 높이를 채워 수직 가운데 정렬이 적용되도록 설정 */
}


.libColBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  padding: 5px;

  border: 2px dashed black;
  border-radius: 10px;
}

.libColBtn button {
  margin: 5px 5px;
  padding: 10px 20px;
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
}

.libBack{
  border: 2px solid burlywood;
  background-color: rgba(207, 177, 138, 0.514);
  margin-top: 20px;
  border-radius: 10px;
}

.libIntBtn{
  border: 2px solid burlywood;
  background-color: wheat;
  border-radius: 10px;
}


.libIntBtn:hover {
  border: 2px solid black;
  background-color: burlywood;
  color: orangered;
  transform: translateY(-5px);
  
  transition: all 0.3s;
}

/* 선택된 버튼의 호버 효과 지우기 */
.libIntBtn.libSelectedBtn:hover {
  border: 2px solid rgb(131, 46, 46);
  background-color: rgb(151, 86, 0);
  transform: none; /* 원래 상태 유지 */
  transition: none; /* 애니메이션 제거 */
}


.libSelectedBtn{
  border: 2px solid rgb(131, 46, 46);
  background-color: rgb(151, 86, 0);
}


/* --------------- 이미지 호버 메세지 --------------- */
.libHoverMessage {
  display: none; /* 기본적으로 숨김 */
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10;
  pointer-events: none; /* 메시지 위로 마우스 이벤트가 지나가도록 설정 */
  white-space: nowrap; /* 메시지 내용이 한 줄로 유지되도록 설정 */

  min-height: 30px;
}

.libBack:hover .libHoverMessage {
  display: block; /* 이미지에 호버 시 메시지 보이기 */
}























/* ------------------ 반응형 추가 -------------------- */

@media screen and (max-width: 1200px) {
  .libLineBreake {
      display: block;
      height: 0; /* 높이를 0으로 설정하여 공간을 차지하지 않도록 함 */
  }
}


@media screen and (max-width: 750px) {

  .libContentHead{
    font-size: 25px;
  }
}

