<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>트레이너 지원하기</title>

    <link rel="stylesheet" href="/css/gym/apply.css">
    <th:block th:replace="~{common/common}"></th:block>
</head>
<body class="apply-body">

    <div th:replace="~{common/header}"></div>
    <div th:replace="~{common/sidebar}"></div>
    <th:block th:replace="~{gym/gymHeader}"></th:block>

    <h3 class="apply-title">트레이너 지원하기</h3>

    <div class="applyForm">
        <form action="/trainerSelect/apply" method="post" id="applicationForm" enctype="multipart/form-data" class="apply-form">
            <div class="form-group">
                <p>지원 분야</p>
                <div class="radio-group">
                    <div class="radio-item">
                        <input type="radio" id="new-trainer" name="position" value="신입트레이너" required>
                        <label for="new-trainer">신입 트레이너</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="experienced-trainer" name="position" value="경력트레이너" required>
                        <label for="experienced-trainer">경력 트레이너</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="apply-route">지원 경로</label>
                <input type="text" id="apply-route" name="apply-route" required>
            </div>

            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="phone">연락처</label>
                <input type="tel" id="phone" name="phone" required>
            </div>

            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="trainerPrice">PT 1회 가격</label>
                <input type="number" id="trainerPrice" name="trainerPrice" required>
            </div>

            <div class="form-group">
                <label for="trainerImg">프로필 이미지</label>
                <input type="file" id="trainerImg" name="trainerImg" accept="image/*" required>
            </div>


            <div class="form-group">
                <label for="resume-cover-letter">이력서 및 자기소개서</label>
                <input type="file" id="resume-cover-letter" name="resume-cover-letter" accept=".pdf,.doc,.docx" required>
            </div>

            <button type="submit" id="applyBtn">제출</button>
        </form>
    </div>



    <th:block th:replace="~{/common/footer}">footer</th:block>

    <script src="/js/gym/apply.js"></script>
</body>
</html>
