<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer List</title>

    <link rel="stylesheet" href="/css/gym/trainerList.css">
    <th:block th:replace="~{common/common}"></th:block>
</head>
<body>
  <div th:replace="~{common/header}"></div>
  <div th:replace="~{common/sidebar}"></div>

  <th:black th:replace="~{gym/gymHeader}"></th:black>

  <div class="trainer-list-container">
    <h1>Trainer List</h1>
    
    <div class="trainer-row" th:each="trainerPair : ${#lists.partition(trainers, 2)}">
      <div class="trainer-container" th:each="trainer : ${trainerPair}" th:data-trainer-no="${trainer.trainerNo}">
        <div class="trainer-item">
          <img class="trainer-image" th:src="@{'/uploads/gym/' + ${trainer.trainerImg}}" alt="헬스트레이너">
          <div class="trainer-details">
            트레이너 <span class="trainer-name" th:text="${trainer.trainerName}">트레이너 이름</span>
          </div>
          <div class="priceBtns">
            <button class="gym_price" data-pt-count="1" th:data-trainer-no="${trainer.trainerNo}" th:text="'1회 가격: ' + ${trainer.trainerPrice} + '원'">1회 가격</button>
            <button class="gym_price" data-pt-count="5" th:data-trainer-no="${trainer.trainerNo}" th:text="'5회 가격: ' + (${trainer.trainerPrice} * 5) + '원'">5회 가격</button>
            <button class="gym_price" data-pt-count="10" th:data-trainer-no="${trainer.trainerNo}" th:text="'10회 가격: ' + (${trainer.trainerPrice} * 10) + '원'">10회 가격</button>
            
            
            <!-- <a th:href="@{/trainerSelect/trainerPrice(price=${trainer.trainerPrice})}" id="tenTimesLink" data-pt-count="1">
            </a>
            <a th:href="@{/trainerSelect/trainerPrice(price=${trainer.trainerPrice * 5})}" id="tenTimesLink" data-pt-count="5">
            </a>
            <a th:href="@{/trainerSelect/trainerPrice(price=${trainer.trainerPrice * 10})}" id="tenTimesLink" data-pt-count="10">
            </a> -->


          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/gym/trainerSelect.js"></script>
  <script th:inline="javascript">
    
    const ptPrices = /*[[${ptPrices}]]*/ "피티프라이스";
    
   
  </script>

  <th:block th:replace="~{common/footer}"></th:block>
</body>
</html>
