<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.kh.cooof.member.model.mapper.MemberMapper">

	<!-- 빠른로그인용으로 만든 로그인 sql -->
	<select id="loginMember" parameterType="String">
		SELECT * FROM MEMBER WHERE MEMBER_EMAIL = #{memberEmail}
	</select>

	<insert id="signup">
		INSERT INTO MEMBER
			VALUES(SEQ_MEMBER_NO.NEXTVAL, 
       		#{memberEmail},
       		#{memberPw},
       		#{memberLastName},
       		#{memberFirstName},
       		#{memberBirthday},
       		#{memberPhone},
       		#{memberGender},
      		0,
       		0,
       		DEFAULT,
       		NULL,
      		DEFAULT,
       		DEFAULT
		)
	</insert>
	
	
	<select id="login" resultType="Member">
	    SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_PW, MEMBER_LAST_NAME,
			MEMBER_FIRST_NAME, MEMBER_BIRTHDAY, MEMBER_PHONE, MEMBER_GENDER,
			MEMBER_AUTHORITY, MEMBER_CANCEL , LOAN_AVAIL , ENROLL_DATE , PENALTY_CHECK , MEMBER_ADDRESS
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND   MEMBER_CANCEL = '0'
	</select>
	
	<select id="checkEmail">
		SELECT COUNT(*) 
		FROM "MEMBER"
		WHERE MEMBER_CANCEL = 0
		AND MEMBER_EMAIL  = #{memberEmail}
	</select>
	
	<select id="changePw" resultType="String">
		SELECT MEMBER_PW
		FROM "MEMBER"
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<update id="newChangePw">
		 UPDATE MEMBER SET
		 MEMBER_PW = #{memberPw}
		 WHERE MEMBER_NO = #{memberNo}
	</update>
	

</mapper>
