<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.cooof.common.scheduler.mapper.SchedulingMapper">


	<select id="selectLessonImageNames" resultType="string">
	SELECT IMG_PATH  FROM LESSONS WHERE DELETE_YN = 1
	</select>
	
	<select id="checkRemains" resultType="Lesson">
	SELECT * FROM LESSONS WHERE LESSON_REMAINS = 0 AND CLOSE_YN = 0
	</select>
	
	<update id="setCloseYn">
	UPDATE LESSONS SET CLOSE_YN = 1 WHERE LESSON_NO = #{lessonNo}
	</update>
	
	<update id="authorityCheck">
	UPDATE MEMBER m
	SET m.MEMBER_AUTHORITY = 1
	WHERE m.MEMBER_NO IN (
	SELECT m2.MEMBER_NO
	FROM MEMBER m2
	JOIN LESSON_INSTRUCTOR li
	ON m2.MEMBER_NO = li.MEMBER_NO
	WHERE m2.MEMBER_AUTHORITY = 0 AND li.INST_STAT = 0
	)
	</update>

	<delete id="deleteLibLoan">
		DELETE FROM LOAN_BOOK
		<![CDATA[
		WHERE BOOK_END < ADD_MONTHS(SYSDATE, -12);
		]]>
		AND LOAN_BOOK_STATUS = 0
	</delete>
	
	<delete id="deleteLibRent">
		DELETE FROM RENT_BOOK
		<![CDATA[
		WHERE BOOK_RESERVE < ADD_MONTHS(SYSDATE, -12);
		]]>
		AND RENT_BOOK_CHECK = 0
	</delete>
	
	<delete id="deleteLibHope">
		DELETE FROM NEW_BOOK
		WHERE NEW_BOOK_CHECK = 1
	</delete>

	<!-- 이용 종료 5분 전인 사람들 select -->
	<select id="getFiveMinBeforeMemberNo" resultType="java.lang.Integer">
		SELECT MEMBER_NO
        FROM RENT_SEAT
        WHERE TRUNC(READING_DONE, 'MI') = TRUNC(#{fiveMinBefore}, 'MI')
	</select>



	<!-- 열람실 이용 종료 시간 체크하기 -->
	<select id="checkReadingDone" parameterType="java.util.Date" resultType="edu.kh.cooof.lib.seat.model.dto.LibSeatDTO">
        SELECT *
        FROM RENT_SEAT
        WHERE TRUNC(READING_DONE, 'MI') = TRUNC(#{sysdate}, 'MI')
    </select>
    
	
	<!-- 마감 처리된 수업에 마감 태그 추가 -->
	<insert id="setCloseTagAdd">
		INSERT INTO LESSON_CATEGORY VALUES (#{lessonNo}, 15)
	</insert>
	
	<!-- 마감 처리된 수업에 모집중 태그 제거 -->
	<delete id="removeOpenTag">
	DELETE FROM LESSON_CATEGORY WHERE LESSON_NO = #{lessonNo} AND SMALL_CODE = 14
	</delete>
	
	
	
</mapper>
