<div class="gym_headerMenu">
    <h2 class="gym_header" onclick="location.href='/';" style="cursor: pointer;">헬스장</h2>
    <ul class="gym_main_logo">
        <li class="dropdown">
            <a href="/gym/information/useMachines">운동정보</a>
            <ul class="dropdown-content">
                <li><a href="/gym/information/useMachines">기구 사용법</a></li>
                <li><a href="/gym/information/stretching">스트레칭</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="/trainerSelect/trainerSelect"  class="protected-link">PT신청</a>
            <ul class="dropdown-content">
                <li><a href="/trainerSelect/trainerSelect"  class="protected-link">트레이너</a></li>

                <li>
                    <a href="/trainerSelect/apply"  class="protected-link">지원하기</a>
                </li>

                <li th:if="${session.loginMember != null and session.loginMember.memberAuthority == 3}">
                    <a href="/management/applicationList">지원서 확인</a>
                </li>

            </ul>
        </li>
        <li class="dropdown">
            <a href="#">사용후기</a>
            <ul class="dropdown-content">
                <li><a href="/reviews/gymReview">사용자 리뷰</a></li>
                <li><a href="/gymWrite/insert">리뷰 작성</a></li>
            </ul>
        </li>

        <li><a href="/gym/myPage/gymMyPage"  class="protected-link">내 정보</a></li>
    </ul>


  </div>

  <div th:if="${message}" th:text="${message}" id="flashMessage" style="display: none;"></div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
   const flashMessage = document.getElementById('flashMessage').innerText;
   if (flashMessage) {
       alert(flashMessage);
   }
   }); 

   document.addEventListener("DOMContentLoaded", function() {
    const loginMember = /*[[${session.loginMember != null}]]*/ false;
    const protectedLinks = document.querySelectorAll('.protected-link');
    protectedLinks.forEach(link => {
        link.addEventListener('click', function(e) {
            if (!loginMember) {
                e.preventDefault();
                alert('로그인 후 이용해 주세요.');
            }
        });
    });
});
 </script>
  

  