<div class="gym_headerMenu">
  <h2 class="gym_header"><a href="/gym/gymMain" style="color: white; text-decoration: none;">헬스장</a></h2>
  <ul class="gym_main_logo">
      <li class="dropdown">
          <a href="/gym/information/useMachines">운동정보</a>
          <ul class="dropdown-content">
              <li><a href="/gym/information/useMachines">기구 사용법</a></li>
              <li><a href="/gym/information/stretching">스트레칭</a></li>
          </ul>
      </li>
      <li class="dropdown">
          <a href="/trainerSelect/trainerSelect">PT신청</a>
          <ul class="dropdown-content">
              <li><a href="/trainerSelect/trainerSelect">트레이너</a></li>
              <li><a href="/trainerSelect/apply">지원하기</a></li>
          </ul>
      </li>
      <li class="dropdown">
          <a href="#">사용후기</a>
          <ul class="dropdown-content">
              <li><a href="/reviews/gymReview">사용자 리뷰</a></li>
              <li><a href="/reviews/submitReview">리뷰 작성</a></li>
          </ul>
      </li>
  </ul>
</div>
