<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강의 대시보드</title>
    <link rel="stylesheet" href="/css/lesson/dashBoard/dashboard.css">
    <!-- 그래프 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <!-- 풀캘린더 -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.11/index.global.min.js'></script>

</head>

<body>

    <!-- lessonCommon 들어가는 곳 시작 -->
    <th:block th:replace="~{lesson/lessonCommon/lessonCommon}"></th:block>
    <!-- lessonCommon 들어가는 곳 끝 -->

    <!-- 세미 헤더 들어가는 곳 시작 -->
    <th:block th:replace="~{lesson/lessonCommon/semiHeader}"></th:block>
    <!-- 세미 헤더 들어가는 곳 끝 -->


    <div class="less_dashboard">
        <div class="less_header">
            <h1 class="less_header_display">강의 대시보드</h1>
        </div>



        <!-- 강의 대시보드의 구현 -->
        <div class="less_main_content">
            <div class="left_column">

                <!-- 강사인 경우 출석률 안보이게 -->
                <div class="less_attendance" th:if="${session.loginMember.memberAuthority} == 0">
                    <!-- <h4>출석률</h4> -->
                    <div class="less_attendance_rate">
                        <div class="less_circle">
                            <canvas id="bar-chart-horizontal"></canvas>
                        </div>
                    </div>
                </div>

                <!-- 관리자인 경우 즐겨찾기 안보이게 -->
                <th:block th:if="${session.loginMember.memberAuthority} == 0">
                    <div class="less_lectures">
                        <h2>내 즐겨찾기 강의 목록</h2>

                        <ul id="lecture_list">
                            <li id="lessonBookMarkList" th:each="lessonBookMark : ${lessonBookMarks}">
                                <a th:href="@{|/lesson/list/${lessonBookMark.lessonNo}|}"
                                    th:text="|${lessonBookMark.lessonTitle} - ${lessonBookMark.lessonSchedule}|">강의
                                    1</a>
                                <button class="less_remove_btn"
                                    th:data-lesson-id="${lessonBookMark.lessonNo}">x</button>
                            </li>
                        </ul>
                        <!-- 수료증 발급 시작 -->
                        <button class="certificate-modal-open">수료증 발급</button>
                        <!-- 수료증 발급 끝 -->
                    </div>
                </th:block>

                <!-- 강사인 경우 본인 강의 보이게 -->
                <th:block th:if="${session.loginMember.memberAuthority} == 1">
                    <div class="less_lectures">
                        <h2>강의 리스트</h2>

                        <ul id="lecture_list">
                            <li th:each="instructorLesson : ${instructorLessons}">
                                <a href="#" th:text="${instructorLesson.lessonTitle}" class="lecture-link"
                                    th:data-lesson-id="${instructorLesson.lessonNo}">강의 1</a>
                            </li>
                        </ul>
                    </div>
                </th:block>
            </div>

            <div class="right_column">
                <div class="less_schedule">

                    <!-- 대시보드 추가 설명 -->
                    <div class="less_description">
                        <div></div>
                        <span>즐겨찾기</span>
                    </div>
                    <h2></h2>
                    <div id="calendar"></div>

                </div>

                <!-- 강의 평점과 평점 쓰기 섹션 -->
                <div class="less_rating_section">
                    <!-- 강의 평점 보기 -->
                    <th:block th:if="${session.loginMember.memberAuthority} == 1">
                        <div id="instructor_star" class="less_rating">
                            <h2>강의 평점</h2>
                            <div class="less_rating_content">
                                <label for="lectureSelect">강의 선택:</label>
                                <select id="lectureSelect">
                                    <option>강의선택</option>
                                    <option th:each="lesson : ${instructorLessons}" th:value="${lesson.lessonNo}"
                                        th:text="${lesson.lessonTitle}">강의 1</option>
                                </select>
                                <div class="stars">
                                    <div class="content-star">
                                        <div class="star_point_container">
                                            <div class="star_background">
                                                <img class="star" src="/images/icon_empty_star.png" data-point="1"
                                                    alt="1" />
                                                <img class="star" src="/images/icon_empty_star.png" data-point="2"
                                                    alt="2" />
                                                <img class="star" src="/images/icon_empty_star.png" data-point="3"
                                                    alt="3" />
                                                <img class="star" src="/images/icon_empty_star.png" data-point="4"
                                                    alt="4" />
                                                <img class="star" src="/images/icon_empty_star.png" data-point="5"
                                                    alt="5" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>

                    <!-- 일반 회원인 경우만 강의 평점 쓰기 -->
                    <th:block th:if="${session.loginMember.memberAuthority} == 0">
                        <div id="less_star_rating" class="less_write_rating">
                            <h2>강의 평점 쓰기</h2>
                            <div class="less_rating_content">
                                <label for="lectureSelect">강의 선택:</label>
                                <select id="lectureSelect">
                                    <option>강의선택</option>
                                    <option th:each="lesson : ${lessonList}" th:value="${lesson.lessonNo}"
                                        th:text="${lesson.lessonTitle}">강의 1</option>
                                </select>
                                <div class="stars">
                                    <div class="content-star">
                                        <div class="star_point_container">
                                            <div class="star_background">
                                                <img class="star" src="/images/icon_empty_star.png" data-point="1"
                                                    alt="1" />
                                                <img class="star" src="/images/icon_empty_star.png" data-point="2"
                                                    alt="2" />
                                                <img class="star" src="/images/icon_empty_star.png" data-point="3"
                                                    alt="3" />
                                                <img class="star" src="/images/icon_empty_star.png" data-point="4"
                                                    alt="4" />
                                                <img class="star" src="/images/icon_empty_star.png" data-point="5"
                                                    alt="5" />
                                            </div>
                                            <button class="less_remove_star">
                                                <img src="/images/icon_remove_star.svg" alt="별점 제거" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <button id="reviewBtn">평점 제출</button>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <!-- 팝업레이어 -->
    <div id="less_attendancePopup">
        <div class="less_popup_content">
            <span class="popup_close_btn">&times;</span>
            <h2>출석부</h2>
            <form id="less_attendanceForm">
                <input id="attendanceDateInput" type="date" name="date">
                <button id="less_student_list">검색</button>
                <button id="less_student_status">출석현황</button>
                <table id="less_attendanceTable">
                    <!-- 출석부 내용은 JavaScript로 동적으로 추가 -->
                </table>
                <button id="less_attendance_ny" type="submit">출석 여부 제출</button>
            </form>
        </div>
    </div>




    <!-- 수료증 모달 -->
    <div id="certificate-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>수료증 발급</h2>
            <form id="certificate-form">
                <label for="studentName">학생 이름:</label>
                <input type="text" id="studentName" name="studentName" required>

                <label for="courseTitle">강의 선택:</label>
                <select id="courseTitle" name="courseTitle" required>
                    <option value="" disabled selected>강의를 선택하세요</option>
                    <option th:each="certificate : ${certificateList}" th:value="${certificate.courseId}"
                        th:text="${certificate.courseTitle}">강의 1</option>
                </select>

                <button type="submit">발급</button>
            </form>
        </div>
    </div>




    <script th:inline="javascript">

        const loginMemberNo = /*[[${session.loginMember.memberNo}]]*/ "로그인 회원 번호";

    </script>


    <script src="/js/lesson/dashboard/dashboard.js"></script>
    <script src="/js/lesson/dashboard/chartTest.js"></script>
</body>

</html>