<script src="https://kit.fontawesome.com/6601cff6e5.js" crossorigin="anonymous"></script>

<script th:inline="javascript">
  const message =  /*[[${message}]]*/ "전달 받은 message";
  if(message != null) alert(message);
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

  *:not(i) {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


</style>