<style>
  .program-header {
  border-radius: 180px;
  background-color: #992BF2;
  padding: 20px;
  color: white;
  text-align: center;
}

.program-header .buttons {
  margin-top: 10px;
}

.program-header button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: #ffffff;
  color: #af5dde;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.program-header button:hover {
  background-color: #ffcc00;
  color: #333;
}
</style>

<section class="program-header">
  <h1>평생교육 프로그램</h1>
  <div class="buttons">
      <a href="/lesson"><button>수강규정 및 신청방법</button></a>
      <a href="/lesson/list"><button>프로그램 안내/신청</button></a>
      <a href="/lesson/dashboard"><button>자격증과정 안내</button></a>
  </div>
</section>

