<div id="health" class="tab-content health">
  <div class="content">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">

        <!-- 첫 번째 페이지 -->
        <div class="swiper-slide">  
          <div class="gym_content">
            <div class="gym_info_menu">

              <div class="gym_info">
                <div class="gym_img">
                  <div class="gym_photo">
                    <img src="/images/gym/gym.jpg" alt="헬스장 사진">
                  </div>
                </div>
                
                <div class="gym_details">

                  <div class="gym_day">
                    <p>이용 요일</p>
                    <ul>
                        <li>개관일 : 월 ~ 토</li>
                        <li class="gym_point">(일요일 및 공휴일 휴관)</li>
                    </ul>
                  </div>

                  <div class="gym_day">
                    <p>이용 대상</p>
                    <ul>
                      <li>중구시민</li>
                      <li>KH학생</li>
                    </ul>
                  </div>

                  <div class="gym_time">
                    <p>이용시간</p>
                    <ul>
                      <li>평일: 06:00 - 22:00</li>
                      <li>토요일: 08:00 - 18:00</li>
                    </ul>
                  </div>

                </div>

              </div>

              <div class="gym_menu">
                <div class="gym_active"><a href="/gym/information/useMachines">운동정보</a></div>
                <div class="gym_pt">
                  <a href="#" th:if="${session.loginMember == null}" onclick="alert('로그인 후 이용해 주세요.'); return false;">PT 신청</a>
                  <a href="/trainerSelect/trainerSelect" th:if="${session.loginMember != null}">PT 신청</a>
                </div>
                <div class="gym_review"><a href="/reviews/gymReview">헬스장 후기 게시판</a></div>
              </div>
            </div>

          </div>
        </div>

        <!-- 두번째 페이지 -->
        <div class="swiper-slide">  
            <div class="gym_content">
              <div class="gym_events_reviews">
                <div class="gym_events_notices">
                  <h1>헬스장 각종 소식 및 이벤트</h1>
                  <div class="gym_events_notices_content">
                    <div class="gym_events">
                      <h2>헬스장 이벤트</h2>
                      <ul>
                        <li data-title="신규 회원 할인 이벤트 (6월 한정)" data-content="6월 한정으로 신규 회원에게 특별 할인 혜택을 제공합니다. 가입 시 등록비 50% 할인, 첫 달 회비 10% 할인이 적용됩니다. 자세한 내용은 카운터에서 문의하세요.">신규 회원 할인 이벤트 (6월 한정)</li>
                        <li data-title="여름맞이 체력 증진 프로그램" data-content="여름맞이 체력 증진 프로그램이 시작됩니다. 8주 동안 주 3회 진행되며, 개인 맞춤형 트레이닝이 제공됩니다. 참가 신청은 헬스장 프론트에서 가능합니다.">여름맞이 체력 증진 프로그램</li>
                        <li data-title="새로운 요가 클래스 시작" data-content="6월 17일부터 새로운 요가 클래스가 시작됩니다. 요가 전문가와 함께하는 다양한 요가 프로그램이 준비되어 있습니다. 자세한 내용은 홈페이지를 참고하세요.">새로운 요가 클래스 시작</li>
                        <li data-title="새로운 그룹 헬스 클래스 시작" data-content="새로운 그룹 헬스 클래스가 시작됩니다. 그룹으로 운동하며 서로의 동기부여를 높일 수 있습니다. 다양한 운동을 함께 즐겨보세요.">새로운 그룹 헬스 클래스 시작</li>
                        <li data-title="여름맞이 특별 트레이닝 세션" data-content="여름맞이 특별 트레이닝 세션이 준비되어 있습니다. 4주간 주 2회 진행되며, 체지방 감소와 근력 향상을 목표로 합니다. 많은 참여 바랍니다.">여름맞이 특별 트레이닝 세션</li>
                      </ul>
                    </div>
                    <div class="gym_notices">
                      <h2>공지사항</h2>
                      <ul>
                        <li data-title="6월 6일 현충일 휴관 안내" data-content="6월 6일 현충일에는 헬스장이 휴관합니다. 고객 여러분의 양해 부탁드리며, 더 나은 서비스를 제공하기 위해 노력하겠습니다.">6월 6일 현충일 휴관 안내</li>
                        <li data-title="주간 요가 클래스 안내" data-content="매주 주간 요가 클래스가 열립니다. 초급, 중급, 고급 과정이 있으며, 각 과정은 1시간 동안 진행됩니다. 자세한 일정은 공지사항을 확인하세요.">주간 요가 클래스 안내</li>
                        <li data-title="7월 9일 헬스장 리모델링 공사 안내" data-content="7월 9일 헬스장 리모델링 공사가 시작됩니다. 이용에 불편을 드려 죄송하며, 더 나은 시설로 보답하겠습니다. 공사 기간 동안 일부 시설 이용이 제한됩니다.">7월 9일 헬스장 리모델링 공사 안내</li>
                        <li data-title="8월 15일 광복절 휴관 안내" data-content="8월 15일 광복절에는 헬스장이 휴관합니다. 이용에 참고 부탁드리며, 광복절의 의미를 되새기는 하루 보내시기 바랍니다.">8월 15일 광복절 휴관 안내</li>
                        <li data-title="9월 20일 헬스장 안전 점검 안내" data-content="9월 20일 헬스장 안전 점검이 실시됩니다. 모든 기구와 시설의 안전을 점검하며, 안전한 시설 이용을 위해 협조 부탁드립니다.">9월 20일 헬스장 안전 점검 안내</li>
                      </ul>
                    </div>
                  </div>
                </div>
                


                <div class="gym_reviews">
                  <h1>헬스장 리뷰</h1>
                  <div class="review_list">
                    <div class="review">
                      <p>"이 헬스장은 정말 최고에요! 트레이너들이 정말 친절하고 시설도 깨끗해요."</p>
                      <p>- 박철수 회원</p>
                    </div>
                    <div class="review">
                      <p>"다양한 운동 기구와 프로그램이 있어서 운동이 즐거워졌어요!"</p>
                      <p>- 이영희 회원</p>
                    </div>
                    <div class="review">
                      <p>"회원들끼리의 커뮤니티도 활발해서 운동할 때 즐거워요."</p>
                      <p>- 김민수 회원</p>
                    </div>
                    <div class="review">
                      <p>"깨끗한 샤워 시설과 편리한 락커룸이 좋아요."</p>
                      <p>- 이수정 회원</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>


        <!-- 세번째 페이지 -->
        <div class="swiper-slide">  
          <div class="gym_content">

            <div class="gym_collect_form">

              <div class="gym_collect">
                <img src="/images/gym/모집공고.png" alt="모집공고 이미지">
              </div>

              <div class="gym_form_apply">
                <div class="gym_form">
                  <h2>신입 트레이너</h2>
                  <ul>
                    <li><strong>자격:</strong> 트레이너 자격증 보유자, 관련 학과 졸업자</li>
                    <li><strong>급여:</strong> 월 200만원</li>
                    <li><strong>우대조건:</strong> 체육학과 졸업, 관련 경력 1년 이상/생활스포츠 지도자 2급(보디빌딩)
                                                  /대회 입상자/관련 자격증 및 교육과정 이수자</li>
                  </ul>
                  <h2>경력 트레이너</h2>
                  <ul>
                    <li><strong>자격:</strong> 퍼스널 트레이너 경력1년 이상/생활스포츠 지도사 2급(보디빌딩) 자격증, 관련 학과 졸업자</li>
                    <li><strong>급여:</strong> 월 300만원 이상 (경력에 따라 협의)</li>
                    <li><strong>우대조건:</strong> 체육학과 졸업, 관련 경력 3년 이상, 대회 수상 경력</li>
                  </ul>
                </div>

                <div class="gym_apply">
                  <a href="#" th:if="${session.loginMember == null}" onclick="alert('로그인 후 이용해 주세요.'); return false;">
                      지원하기<i class="fa-solid fa-angles-right"></i>
                  </a>
                  <a href="/trainerSelect/apply" th:if="${session.loginMember != null}">
                      지원하기<i class="fa-solid fa-angles-right"></i>
                  </a>
              </div>

              </div>

            </div>

          </div>

        </div>

      <div class="swiper-pagination"></div>
    </div>
  <div class="arrow-down">&#8595;</div>
  </div>
</div>
  


  <!-- <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div></div>
      </div>
      <div class="swiper-slide">
        <div></div>
      </div>
      <div class="swiper-slide">
        <div></div>
      </div>  -->
      <!-- 슬라이드 개수 추가 하고싶으면 아래 태그처럼 생성하면 추가 됨 
          class="swiper-slide" 클래스 삭제하면 안돼요-->
      
          <!-- <div class="swiper-slide">
        <div></div>
      </div> -->
    <!-- </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="arrow-down">&#8595;</div> -->
</div>

<!-- 모달 -->
<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2 id="modal-title"></h2>
    <p id="modal-content"></p>
  </div>
</div>

<script src="https://kit.fontawesome.com/768f8d3b22.js" crossorigin="anonymous"></script>