<div id="lesson" class="tab-content lesson">
  <div class="content">
    
    <div class="lesson_content">
      <div class="lesson_img_wrap">
      </div>
    </div>

    <!-- 평생교육 프로그램으로 가기 -->
    <div class="lesson_content">

      <!-- 수강규정/프로그램안내/회원대시보드/강사현황 -->
      <ul class="less_program_wrap">
        <li>
          <a href="lesson">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            수강규정
          </a>
        </li>
        <li>
          <a href="lesson/list">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            프로그램 안내
          </a>
        </li>
        <li>
          <a href="lesson/dashboard">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            회원대시보드
          </a>
        </li>
        <li>
          <a href="lesson/inst">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            강사현황
          </a>
        </li>
      </ul>

    </div>

  </div>
  <!-- <div class="arrow-down">&#8595;</div> -->
</div>