<div id="library" class="tab-content library">
  <div class="content">


    <div class="swiper mySwiper libSwiper">
      <div class="swiper-wrapper">


        <!--  1번 페이지에 표시 할 내용 -->
        <div class="swiper-slide">
          <div class="libBody">

            <!-- 왼쪽 도서관 메인으로 이동하는 사진 + 링크-->
            <div class="libContentBox left">
              <div class="libContent">

                <div class="libSlider curShow">


                  <!-- 1번 스와이퍼로 가기 -->
                  <div class="libShowSlider">

                    <img id="libBuilding" src="/images/lib/lib_building.webp" alt="">

                    <div class="libIndexContent">다양한 연구 자료와 디지털 콘텐츠,
                      국내 최대 규모의 면적과 장서 보유를 자랑하는
                      우리 도서관에 오신 것을 환영합니다. 이곳에서 지식의 세계를 탐험하며,
                      학습과 연구의 즐거움을 만끽하시길 바랍니다.</div>

                    <div class="libBtnSack">
                      <a class="libLink" href="/main/libMain"> <span>지금 바로 이용하러 가기</span> </a>
                      <span id="libToZeroSlide" class="libLink"> <span>이용 안내 바로 가기</span> </span>
                    </div>

                  </div>
                </div>

                <!-- 2번 스와이퍼로 가기 -->
                <div class="libSlider ">
                  <div class="libShowSlider">

                    <img id="libBooksImg" src="/images/lib/lib_books.webp" alt="">
                    <div class="libIndexContent">
                      넓고 깊은 스펙트럼의 도서를
                      자유롭게 대여 가능합니다.
                    </div>

                    <div class="libBtnSack">
                      <a class="libLink" href="/main/libMain"> <span>지금 바로 이용하러 가기</span> </a>
                      <span id="libToFirstSlide" class="libLink"> <span>이용 안내 바로 가기</span> </span>
                    </div>

                  </div>
                </div>

                <!-- 3번 스와이퍼로 가기 -->
                <div class="libSlider">

                  <div class="libShowSlider">
                    <img id="libSeatImg" src="/images/lib/lib_seat.webp" alt="">
                    <div class="libIndexContent">
                      열람실에서 코딩을 해보세요. 타자 소리 때문에 바로 쫒겨날 것 입니다!
                    </div>

                    <div class="libBtnSack">
                      <a class="libLink" href="/main/libMain"> <span>지금 바로 이용하러 가기</span> </a>
                      <span id="libToSecondSlide" class="libLink"> <span>이용 안내 바로 가기</span> </span>
                    </div>

                  </div>
                </div>

                <!-- 4번 스와이퍼로 가기 -->
                <div class="libSlider">

                  <div class="libShowSlider">
                    <img id="libSpaceImg" src="/images/lib/lib_space.webp" alt="">

                    <div class="libIndexContent">
                      최고의 시설, 이용료가 무료인 열람실이 있는 것을 알고도
                      이용하지 않으면 되겠습니까? 예?!
                    </div>

                    <div class="libBtnSack">
                      <a class="libLink" href="/main/libMain"> <span>지금 바로 이용하러 가기</span> </a>
                      <span id="libToThirdSlide" class="libLink"> <span>이용 안내 바로 가기</span> </span>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <!-- 오른쪽 -->
            <div class="libContentBox right">

              <div class="libContent libSelectedContent">
                <div class="libContentHead ">
                  국내에서 <span class="libLineBreake"></span>가장 큰 도서관
                </div>
                <div class="libContentText">연면적 80,000㎡ </div>
              </div>

              <div class="libContent">
                <div class="libContentHead ">50만 권의 <span class="libLineBreake"></span>장서 보유</div>
                <div class="libContentText">국내 평균 보유량 대비 5배 </div>
              </div>

              <div class="libContent">
                <div class="libContentHead ">열람실 <span class="libLineBreake"></span>굿</div>
                <div class="libContentText">에어컨 빵빵 쾌적한 열람실</div>
              </div>

              <div class="libContent">
                <div class="libContentHead ">공간대여도 <span class="libLineBreake"></span>가능함</div>
                <div class="libContentText">안하면 손해임</div>
              </div>

            </div>



          </div>
        </div>

        <!-- 
          제목 : .libIntTitle 
          내용 : .libIntContext
        
        -->

        <!-- 1번 -->
        <div class="swiper-slide">
          <div id="libInfoAtIndex">
            <!-- 왼쪽 컨텐츠 -->
            <div class="libLeftContent">
              <div id="infoContainer">

                <div data-floor="0">
                  <div class="libContentHead ">지하 1층 안내</div>
                  <div class="libBack">
                    <img class="libImg" src="/images/lib/bml_1.png" alt="">
                    <div class="libHoverMessage">해당 이미지는 부산도서관의 이미지를 가져 온 것 입니다.</div>
                  </div>
                </div>

                <div data-floor="1">
                  <div class="libContentHead ">지상 1층 안내</div>
                  <div class="libBack">
                    <img class="libImg" src="/images/lib/gf_1.png" alt="">
                    <div class="libHoverMessage">해당 이미지는 부산도서관의 이미지를 가져 온 것 입니다.</div>
                  </div>
                </div>

                <div data-floor="2">
                  <div class="libContentHead ">지상 2층 안내</div>
                  <div class="libBack">
                    <img class="libImg" src="/images/lib/gf_2.png" alt="">
                    <div class="libHoverMessage">해당 이미지는 부산도서관의 이미지를 가져 온 것 입니다.</div>
                  </div>
                </div>

                <div data-floor="3">
                  <div class="libContentHead ">지상 3층 안내</div>
                  <div class="libBack">
                    <img class="libImg" src="/images/lib/gf_3.png" alt="">
                    <div class="libHoverMessage">해당 이미지는 부산도서관의 이미지를 가져 온 것 입니다.</div>
                  </div>
                </div>

                <div data-floor="4">
                  <div class="libContentHead ">지상 4층 안내</div>
                  <div class="libBack">
                    <img class="libImg" src="/images/lib/gf_4.png" alt="">
                    <div class="libHoverMessage">해당 이미지는 부산도서관의 이미지를 가져 온 것 입니다.</div>
                  </div>
                </div>
              </div>

            </div>

            <!-- 오른쪽 버튼 -->
            <div class="libColBtn">
              <button class="libIntBtn" data-floor="0">지하 1층 안내</button>
              <button class="libIntBtn" data-floor="1">지상 1층 안내</button>
              <button class="libIntBtn" data-floor="2">지상 2층 안내</button>
              <button class="libIntBtn" data-floor="3">지상 3층 안내</button>
              <button class="libIntBtn" data-floor="4">지상 4층 안내</button>
            </div>
          </div>
        </div>




        <!-- 2번 -->
        <div class="swiper-slide">
          <div>

            <div>여기는 책대여 컨텐츠를 작성한다</div>

          </div>
        </div>

        <!-- 3번 -->
        <div class="swiper-slide">
          <div>

            <div>열람실에 대한 내용 작성</div>

          </div>
        </div>

        <!-- 4번 -->
        <div class="swiper-slide">
          <div>

            <div>공간대여에 대한 내용 작성</div>
          </div>
        </div>


      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>



  <div class="arrow-down">&#8595;</div>
</div>