<div id="library" class="tab-content library">
  <div class="content">


    <div class="swiper mySwiper">
      <div class="swiper-wrapper">


        <!--  1번 페이지에 표시 할 내용 -->
        <div class="swiper-slide">
          <div class="libBody">

            <!-- 왼쪽 도서관 메인으로 이동하는 사진 + 링크-->
            <div class="libContentBox left">
              <div class="libContent">

                <div class="libSlider curShow">
                  <div class="libShowSlider">도서관의 간략한 소개를 넣는다</div>
                </div>

                <div class="libSlider ">
                  <div class="libShowSlider">대출 기능의 간략한 설명을 넣는다</div>
                  
                </div>

                <div class="libSlider">
                  열람실 기능의 간략한 설명을 넣는다
                </div>

                <div class="libSlider">
                  공간대여 기능의 설명을 넣는다
                </div>

              </div>
            </div>

            <!-- 오른쪽 -->
            <div class="libContentBox right">

              <div class="libContent libSelectedContent" >
                <div class="libContentHead ">
                  국내에서 <span class="libLineBreake"></span>가장 큰 도서관
                </div>
                <div class="libContentText">연면적 80,000㎡ </div>
              </div>

              <div class="libContent" >
                <div class="libContentHead ">50만 권의 <span class="libLineBreake"></span>장서 보유</div>
                <div class="libContentText">국내 평균 보유량 대비 5배 </div>
              </div>

              <div class="libContent" >
                <div class="libContentHead ">열람실 <span class="libLineBreake"></span>개쩜</div>
                <div class="libContentText">쾌적한 열람실</div>
              </div>

              <div class="libContent" >
                <div class="libContentHead ">공간대여도 <span class="libLineBreake"></span>쌉가능함</div>
                <div class="libContentText">안하면 손해임</div>
              </div>

            </div>



          </div>
        </div>


        <div class="swiper-slide">
          <div></div>
        </div>


        <div class="swiper-slide">
          <div>

            <div id="libSpace">여기는 공간대여 컨텐츠를 작성한다</div>


          </div>
        </div>

        <div class="swiper-slide">
          <div>

            <div>여기는 뭐 없다..</div>

          </div>
        </div>


        <!-- 슬라이드 개수 추가 하고싶으면 아래 태그처럼 생성하면 추가 됨 
          class="swiper-slide" 클래스 삭제하면 안돼요-->

        <!-- <div class="swiper-slide">
        <div></div>
      </div> -->
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>



  <div class="arrow-down">&#8595;</div>
</div>