<div id="main" class="tab-content active main">
  <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="main_content_wrap">
          
          <div class="main_text">
            <h1> UrbanLifeConnector </h1>
          </div>
          <!-- 이미지 넣기 -->
          <div class="main_img"></div>

          <p>
            저희 행복센터는 도서관, 헬스장, 평생 프로그램을 통해 여러분의 삶의 질을 높이고자 합니다.
          </p>
        </div>
      </div>
      <!-- ==================================================== -->
      <div class="swiper-slide">
        <!-- 화면2 -->
        <div class="main_info">

          <div class="conBox1">
            <img src="/images/logo_bg_remove.png" alt="imgLogo">
            <p>다양한 도서와 자료를 자유롭게 이용할 수 있는 도서관, 건강한 생활을 위한 최신 시설의 헬스장, 그리고 다양한 연령대와 관심사를 위한 평생 교육 프로그램이 준비되어 있습니다. 행복센터에서 여러분의 건강과 배움, 그리고 즐거움을 모두 누리세요!</p>
          </div>

          <div class="conBox2">

            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>

          </div>

        </div>

      </div>

    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="arrow-down">&#8595;</div>
</div>