<div id="main" class="tab-content active main">
  <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div></div>
      </div>
      <div class="swiper-slide">
        <div></div>
      </div>
      <div class="swiper-slide">
        <div></div>
      </div>
      <!-- 슬라이드 개수 추가 하고싶으면 아래 태그처럼 생성하면 추가 됨 
          class="swiper-slide" 클래스 삭제하면 안돼요-->
      
          <!-- <div class="swiper-slide">
        <div></div>
      </div> -->
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="arrow-down">&#8595;</div>
</div>