<body class="header-body">
  <header class="header-container">
    <div class="header-center">
      <a href="/">UFC</a>
    </div>
    <input type="checkbox" id="notification-toggle" class="header-notification-toggle" th:if="${session.loginMember}">
    <label for="notification-toggle" class="header-notification-btn fa-regular fa-bell" th:if="${session.loginMember}"></label>
    <div class="header-notification-num" th:if="${session.loginMember}">
      <span class="noti-number"></span>
    </div>
    <form action="/member/logout" method="GET">
      <input type="submit" value="Logout" class="header-logout-btn" th:if="${session.loginMember}">
    </form>
  </header>

  <div class="header-notification-container header-content" id="notification-list" th:if="${session.loginMember}">
    <ul class="header-notification-list">
      <li class="header-notification-item">
        <div class="header-notification-text">
          <div class="header-notification-content-container">
            <p class="header-notification-date">20분 전</p>
            <p class="header-notification-content">
              <b>test</b>님이
              <b>[1500번글]</b>을 좋아합니다
              asdasdasdasdas
              123123sssssssssssssssssssssssssssssssssssssssssssssssssss
            </p>
          </div>
        </div>
        <span class="header-notification-delete">&times;</span>
      </li>
    </ul>
  </div>

</body>


<script>
  function checkDoneTime() {
    console.log("Sending fetch request to /lib/doneTimeCheck");

    // 현재 시간 분 단위까지만 구하기
    const now = new Date();
    const year = now.getFullYear();
    const month = String(now.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 +1 필요
    const day = String(now.getDate()).padStart(2, '0');
    const hours = String(now.getHours()).padStart(2, '0');
    const minutes = String(now.getMinutes()).padStart(2, '0');

    // yyyy-mm-dd hh:mm 형식으로 조합
    const formattedDateTime = `${year}-${month}-${day} ${hours}:${minutes}`;

    console.log("Current Date and Time: ", formattedDateTime);

    // 매 분마다 요청만 보내니까 뭐 받아서 처리할 필요 없음
    fetch('/lib/doneTimeCheck', {
      method: 'POST', 
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ dateTime: formattedDateTime }) // 요청 본문에 데이터 포함
    })
    .then(response => response.json())
    .then(result=>{

        console.log(result);

    })
}

  document.addEventListener('DOMContentLoaded', function () {

  // 매 분 00초마다 대여 공간 이용 종료 확인
  
  // 현재 시간을 기준으로 다음 00초까지 남은 시간을 계산하여 처음 실행 시간 설정
  const now = new Date();
  console.log('Current time:', now); // 추가된 로그
  const delay = 60000 - (now.getSeconds() * 1000 + now.getMilliseconds());
  console.log('Initial delay:', delay); // 추가된 로그

  setTimeout(function () {
    console.log('Initial timeout fired'); // 추가된 로그
    checkDoneTime(); // 처음 실행
    // 이후 매 1분마다 실행
    setInterval(checkDoneTime, 60000);
    console.log('매 분 00초에 실행함');
  }, delay);


});


</script>

<script src="https://kit.fontawesome.com/6601cff6e5.js" crossorigin="anonymous"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap" rel="stylesheet">

<style>

  * {
  font-family: "Noto Sans KR", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 600;
  font-style: normal !important;

  }

</style>