<body class="sidebar-body">
    <div class="sidebar-container">
        <ul class="sidebar-menu">
            <li class="sidebar-item"><a href="/">홈</a></li>
            <li class="sidebar-item"><a href="/libMain/toLibMain">도서관</a></li>
            <li class="sidebar-item"><a href="/gym/information/useMachines">헬스장</a></li>
            <li class="sidebar-item"><a href="/lesson">문화센터</a></li>
        </ul>

        <div class="quickLoginBtnSack">
            일반회원 <br>
            <button class="quickLoginBtn">testMem01@naver.com</button> <br>
            <button class="quickLoginBtn">testMem02@naver.com</button>
            <button class="quickLoginBtn">test0@naver.com</button>
            <button class="quickLoginBtn">testMem02@nave.crom</button>
        
        
        
            <button class="quickLoginBtn">test01@naver.com</button>
            <button class="quickLoginBtn">test02@naver.com</button>
            <button class="quickLoginBtn">test03@naver.com</button>
            <button class="quickLoginBtn">test04@naver.com</button>
            <button class="quickLoginBtn">test05@naver.com</button>
            <button class="quickLoginBtn">test06@naver.com</button>
            <button class="quickLoginBtn">test07@naver.com</button>
            <button class="quickLoginBtn">test08@naver.com</button>
            <button class="quickLoginBtn">test09@naver.com</button>
            <br> <br>
            관리자 회원 :
            <button class="quickLoginBtn">testMem03@naver.com</button>
          </div>
    </div>
</body>