<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.cooof.gym.gymReview.model.mapper.GymReviewMapper">
	
	<select id="getAllGym">
		SELECT 
   		g.GYM_NO,
	    g.GYM_TITLE,
	    g.GYM_CONTENT,
	    g.GYM_WRITE_DATE,
	    g.GYM_UPDATE_DATE,
	    g.GYM_DEL_FL,
	    g.MEMBER_NO,
	    m.MEMBER_LAST_NAME ,
	    m.MEMBER_FIRST_NAME 
	FROM 
    	GYM g
	JOIN 
    	MEMBER m ON g.MEMBER_NO = m.MEMBER_NO
    ORDER BY
        g.GYM_NO 
	</select>
	
	<select id="getGymByNo">
	   SELECT g.*, m.MEMBER_LAST_NAME, m.MEMBER_FIRST_NAME
  	   FROM GYM g
 	   LEFT JOIN MEMBER m ON g.MEMBER_NO = m.MEMBER_NO
  	   WHERE g.GYM_NO = #{gymNo}
	</select>
	
	<insert id="insertGymWrite">
		  INSERT INTO GYM (GYM_NO, GYM_TITLE, GYM_CONTENT, GYM_WRITE_DATE, GYM_DEL_FL, MEMBER_NO) 
		  VALUES (GYM_NO_SEQ.NEXTVAL, #{gymTitle}, #{gymContent} , SYSDATE ,  0, #{memberNo})
	</insert>
	
	<select id="selectGymReviews" >
        <![CDATA[
    SELECT *
    FROM (
        SELECT ROWNUM AS RNUM, GYM.*
        FROM (
            SELECT *
            FROM GYM
            ORDER BY GYM_NO DESC
        ) GYM
        WHERE ROWNUM <= #{limit} + #{offset}
    )
    WHERE RNUM >= #{offset} + 1
    ]]>
    </select>

    <!-- 리뷰 수 조회 쿼리 -->
    <select id="countGymReviews" >
        <![CDATA[
        SELECT COUNT(*)
        FROM GYM g
        JOIN MEMBER m ON g.MEMBER_NO = m.MEMBER_NO
        ]]>
    </select>
	


</mapper>
