<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.cooof.gym.management.model.mapper.ManagementMapper">
	
<select id="selectApplications">

	SELECT APPLICATION_NO,
		   "POSITION",
		   APPLY_ROUTE,
		   MEMBER_NO,
		   MEMBER_AUTHORITY,
		   MEMBER_LAST_NAME,
		   MEMBER_FIRST_NAME,
		   MEMBER_PHONE,
		   MEMBER_EMAIL,
		   RESUME_PATH,
		   APPLY_DATE,
		   STATUS
	FROM "APPLICATION"
	JOIN "MEMBER" USING(MEMBER_NO)
	ORDER BY APPLY_DATE DESC
	
</select>

<update id="updateApplicationStatus">
	UPDATE APPLICATION 
	SET STATUS  = #{status}
	WHERE MEMBER_NO = #{memberNo}
</update>


<select id="selectApplicationNo" parameterType="_int">
    SELECT 
        APPLICATION_NO,
        POSITION,
        APPLY_ROUTE,
        RESUME_PATH,
        APPLY_DATE,
        MEMBER_NO,
        MEMBER_LAST_NAME,
        MEMBER_FIRST_NAME,
        MEMBER_PHONE,
        MEMBER_EMAIL,
        TRAINER_PRICE,
        TRAINER_IMG
    FROM "APPLICATION"
    JOIN "MEMBER" USING(MEMBER_NO)
    WHERE APPLICATION_NO = #{applicationNo}
</select>

<update id="updateAuthority">
	UPDATE "MEMBER"
	SET MEMBER_AUTHORITY = 2
	WHERE MEMBER_NO = #{memberNo}
</update>


<select id="selectAppMemberNo">
	SELECT * FROM APPLICATION 
	WHERE MEMBER_NO = #{memberNo}
</select>

<insert id="insertTrainer">
	INSERT INTO TRAINER (TRAINER_NO, TRAINER_NAME, TRAINER_PRICE, TRAINER_IMG, MEMBER_NO)
	VALUES (SEQ_TRAINER_NO.NEXTVAL, 
			#{fullName},
			#{trainerPrice},
			#{trainerImg},
			#{memberNo}
			)
</insert>


</mapper>
