<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.cooof.gym.trainerSelect.model.mapper.TrainerSelectMapper">
	
	<select id="getAllTrainers">
	  SELECT * FROM TRAINER
	</select>
	
	<select id="selectTrainer">
	  
	  SELECT TRAINER.*, MEMBER.MEMBER_PHONE 
	  FROM TRAINER
	  INNER JOIN MEMBER ON TRAINER.MEMBER_NO = MEMBER.MEMBER_NO
	  WHERE TRAINER_NO = #{trainerNo}
	</select>

	<insert id="gymPayment">
		INSERT INTO PT (PT_COUNT, PT_PRICE, PT_STRDATE, PT_LKROOM)
   		VALUES (#{ptCount}, #{ptPrice}, #{strDate}, #{ptLkroom})
	</insert>

</mapper>
