<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.cooof.gym.trainerSelect.model.mapper.TrainerSelectMapper">
	
	<select id="getAllTrainers">
	  SELECT * FROM TRAINER
	</select>
	
	<select id="selectTrainer">
	  
	  SELECT TRAINER.*, MEMBER.MEMBER_PHONE 
	  FROM TRAINER
	  INNER JOIN MEMBER ON TRAINER.MEMBER_NO = MEMBER.MEMBER_NO
	  WHERE TRAINER_NO = #{trainerNo}
	</select>

	<insert id="gymPayment">	 
		INSERT INTO PT (PT_NO, PT_YN , PT_PRICE , PT_LKROOM  , MEMBER_NO , TRAINER_NO , PT_STRDATE )
    	VALUES (PT_NO_SEQ.NEXTVAL, #{ptCount}, #{ptPrice}, #{ptLkroom}, 
    	#{memberNo} ,#{trainerNo} , TO_DATE(#{strDate}, 'YYYY-MM-DD') )
	</insert>
	
	<select id="selectPtPriceByMemberNo">
		SELECT *
		FROM PT 
		WHERE "MEMBER_NO" = #{memberNo}
	</select>

</mapper>
