body.apply-body {
    margin: 0px;
    padding: 0px;
}

h3.apply-title {
    text-align: center;
}

.applyForm{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

form.apply-form {
    width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.apply-form .form-group {
    margin-bottom: 20px;
}

.apply-form label {
    font-weight: bold;
}

.apply-form .radio-group {
    display: flex;
    align-items: center;
    gap: 20px; /* 간격 조정 */
}

.apply-form .radio-item {
    display: flex;
    align-items: center;
    gap: 5px; /* 라디오 버튼과 레이블 사이 간격 조정 */
}

.apply-form input[type="text"],
.apply-form input[type="tel"],
.apply-form input[type="email"],
.apply-form input[type="file"],
.apply-form input[type="price"],
.apply-form input[type="profile_img"]{
    width: calc(100% - 22px); /* Adjust to match padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.apply-form input[type="radio"] {
    margin: 0; /* 기본 마진 제거 */
}

.apply-form .radio-item label {
    margin: 0; /* 기본 마진 제거 */
    display: flex;
    align-items: center; /* 레이블 텍스트를 수직 정중앙으로 */
    height: 100%; /* 부모 높이 채우기 */
}

.apply-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.apply-form button:hover {
    background-color: #575757;
}
