body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.application-detail {
    width: 60%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.application-detail h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.detail-wrapper {
    margin-bottom: 30px;
}

.detail-wrapper p {
    line-height: 1.8;
    margin: 10px 0;
}

.detail-wrapper p strong {
    display: inline-block;
    width: 150px;
    color: #555;
}

.button-wrapper {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.okArea {
    margin: 10px 100px;
}

.noArea{
    margin: 10px 100px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#approve {
    background-color: #4CAF50;
    color: white;
}

#refuse {
    background-color: #f44336;
    color: white;
}

.btn:hover {
    opacity: 0.8;
}
