body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2e2ce;
}

.trainer-list-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.trainer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.trainer-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.trainer-item:hover {
    transform: translateY(-10px);
}

.trainer-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.trainer-details {
    padding: 15px;
    text-align: center;
}

.trainer-name {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.trainer-intro {
    display: block;
    font-size: 1.1em;
    color: #777;
    margin-bottom: 15px;
}

.trainer-prices {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gym_price {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.gym_price:hover {
    background-color: #45a049;
}
