/* 메인 컨테이너 스타일 */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2e2ce;
    margin: 0;
    padding: 0;
}

.trainer-list-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.trainer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.trainer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(50% - 20px); /* 한 줄에 두 개씩 배치, 간격 조정 */
    margin-bottom: 20px;
}

.trainer-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: calc(100% - 20px); /* trainer-container 안에서 한 개씩 배치 */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.trainer-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.trainer-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.trainer-details {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 15px;
}

.trainer-name {
    font-weight: bold;
}

.priceBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gym_price {
    background-color: #8B4513; /* 버튼 배경색 */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.2em; /* 글씨 크기 키우기 */
}

.gym_price:hover {
    background-color: #A0522D;
    color: #ffffff;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .trainer-container {
        width: calc(50% - 20px); /* 작은 화면에서도 두 개씩 배치 */
    }
}

@media (max-width: 480px) {
    .trainer-container {
        width: calc(100% - 20px); /* 작은 화면에서는 한 개씩 배치 */
    }
}
