<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지원서 목록</title>
    <link rel="stylesheet" href="/css/gym/apply.css">
    <link rel="stylesheet" href="/css/gym/gymMain.css">
    <link rel="stylesheet" href="/css/gym/applicationList.css">
</head>
<body>
    <th:block th:replace="~{gym/gymHeader}"></th:block>

    <section class="application-list">

    <h3>지원서 목록</h3>

    <div class="list-wrapper">

        <table>
            <thead>
                <tr>
                    <th>지원서 번호</th>
                    <th>지원분야</th>
                    <th>성</th>
                    <th>이름</th>
                    <th>지원날짜</th>
                    <th>상세보기</th>
                </tr>
            </thead>
            <tbody>

                <th:block th:if="${#lists.isEmpty(applications)}">
                    <tr>
                        <th colspan="11">지원서가 존재하지 않습니다.</th>
                    </tr>
                </th:block>

                <th:block th:unless="${#lists.isEmpty(applications)}">

                    <tr th:each="app : ${applications}" th:object="${app}">
                        <td th:text="${app.applicationNo}"></td>
                        <td th:text="${app.position}"></td>
                        <td th:text="${app.memberLastName}"></td>
                        <td th:text="${app.memberFirstName}"></td>
                        <td th:text="${app.applyDate}"></td>
                        <td><a th:href="@{/management/applicationDetail(applicationNo=${app.applicationNo})}">상세 보기</a></td>
                    </tr>

                </th:block>

            </tbody>
        </table>

    </div>

    </section>
</body>
</html>
