<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지원서 상세 조회</title>

    <link rel="stylesheet" href="/css/gym/applicationDetail.css">
    <th:block th:replace="~{common/common}"></th:block>
</head>
<body>
    <div th:replace="~{common/header}"></div>
    <div th:replace="~{common/sidebar}"></div>
    <th:block th:replace="~{gym/gymHeader}"></th:block>
    <section class="application-detail">
        <h3 th:text="|${app.memberLastName} ${app.memberFirstName} 의 지원서|">지원서</h3>

        <div class="detail-wrapper">
            <p><strong>지원서 번호:</strong> <span id="applicationNo" th:text="${app.applicationNo}"></span></p>
            <p><strong>지원 분야:</strong> <span th:text="${app.position}"></span></p>
            <p><strong>지원 경로:</strong> <span th:text="${app.applyRoute}"></span></p>
            <p><strong>회원 번호:</strong> <span id="memberNo" th:text="${app.memberNo}"></span></p>
            <p><strong>성:</strong> <span th:text="${app.memberLastName}"></span></p>
            <p><strong>이름:</strong> <span th:text="${app.memberFirstName}"></span></p>
            <p><strong>연락처:</strong> <span th:text="${app.memberPhone}"></span></p>
            <p><strong>이메일:</strong> <span id="memberEmail" th:text="${app.memberEmail}"></span></p>
            <p><strong>PT 1회 가격:</strong> <span th:text="${app.trainerPrice}"></span></p>
            <p><strong>프로필 이미지:</strong> <a th:href="@{/management/download(fileName=${app.trainerImg})}" th:download="${app.trainerImg}">다운로드</a></p>
            <p><strong>이력서:</strong> <a th:href="@{/management/download(fileName=${app.resumePath})}" th:download="${app.resumePath}">다운로드</a></p>
            <p><strong>지원 날짜:</strong> <span th:text="${app.applyDate}"></span></p>
        </div>

        <div class="button-wrapper">
            <div class="okArea">
                <button id="approve" type="button">승인</button>
            </div>

            <div class="noArea">
                <button id="refuse" type="button">거절</button>
            </div>
            
            <div class="changeArea">
                <button id="trainerChange" type="button">트레이너 변경하기</button>
            </div>

        </div>
        
    </section>

    <script src="/js/gym/appManagement.js"></script>

    <th:block th:replace="~{/common/footer}">footer</th:block>
</body>
</html>
