<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.cooof.lesson.dashBoard.mapper.DashBoardMapper">

	<select id="findLesson" resultType="LessonListDTO">
	
		SELECT LESSON_TITLE , LESSON_NO 
		FROM STUDENT_ENROLLMENTS E
		JOIN LESSONS L USING (LESSON_NO) 
		WHERE E.MEMBER_NO  = #{loginMemberId}
	
	</select>
	
	<!-- 별점 등록시 이미 등록된 후기가 있는지 찾아보기 -->
	<select id="searchLessonNo" resultType="_int">
		SELECT COUNT(*)  
		FROM STAR_MANAGEMENT
		WHERE LESSON_NO = #{lessonNo} 
		AND MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 후기 등록 -->
	<insert id="insertReview">
	
		INSERT INTO STAR_MANAGEMENT
		VALUES (#{lessonNo},#{memberNo},#{lessonStar})
	
	</insert>
	
 	<update id="updateReview">
		UPDATE STAR_MANAGEMENT
		SET LESSON_STAR = #{lessonStar}
		WHERE LESSON_NO = #{lessonNo}
		AND MEMBER_NO = #{memberNo}
    </update> 
    
    <select id="findStar">
    	
    	SELECT NVL(AVG(LESSON_STAR),0) 
		FROM STAR_MANAGEMENT
		WHERE LESSON_NO = #{lessonNo}
		AND MEMBER_NO = #{memberNo}
    
    </select>
    
    <select id="instructorLesson" resultType="LessonInstructorDTO">
    
    	SELECT LESSON_TITLE , LESSON_NO 
		FROM LESSONS
		WHERE MEMBER_NO = #{loginMemberId}
    
    </select>
    
    <!-- 해당 날짜의 강의가 맞는지 확인 -->
	<select id="countLesson" resultType="_int">
    
    	SELECT COUNT(*) AS CNT  
		FROM LESSONS
		WHERE LESSON_NO = #{lessonNo}
		AND #{date} BETWEEN TO_CHAR(LESSON_START_DATE, 'YYYYMMDD') AND TO_CHAR(LESSON_END_DATE, 'YYYYMMDD')
		AND TO_CHAR(TO_DATE(#{date}), 'dy') = SUBSTR(LESSON_SCHEDULE, 0,1)
    
    </select>
	
	<!-- 출석부 리스트 -->
<!-- 	<select id="confirmLesson" resultType="LessonListDTO">
    
	    SELECT MEMBER_NO 
		FROM STUDENT_ENROLLMENTS 
		WHERE LESSON_NO = #{lessonNo}

    </select> -->
    
    <select id="confirmLesson" resultType="LessonListDTO">
    
	    SELECT 
	    MEMBER_NO,
	    MEMBER_LAST_NAME || ' ' || MEMBER_FIRST_NAME AS FULL_NAME
		FROM 
		    STUDENT_ENROLLMENTS 
		JOIN 
		    "MEMBER" USING(MEMBER_NO)
		WHERE 
		    LESSON_NO = #{lessonNo}
    
    </select>
    
    <!-- 출석 모두 등록 -->
	<insert id="addList" parameterType="list">
		INSERT INTO "LESSONS_ATTENDANCE"
		
		<foreach collection="list" item="student" separator=" UNION">
		SELECT #{student.lessonNo},#{student.date},#{student.memberNo}
		FROM DUAL
		</foreach>
	
	</insert>
	
	<!-- 강사 별점 리뷰 확인 -->
	<select id="checkReview" resultType="_int">
	
		SELECT ROUND(NVL(AVG(LESSON_STAR),0))  
		FROM STAR_MANAGEMENT
		WHERE LESSON_NO = #{lessonNo}
	
	</select>
	
	
	

</mapper>
