<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.cooof.lesson.calendar.mapper.LessonCalendarMapper">

	<select id="selectCalendar" resultType="Lesson">
	
	SELECT * 
	FROM LESSONS WHERE MEMBER_NO = #{memberNo}
	
	UNION
	
SELECT
	LESSON_NO,
	LESSON_TITLE,
	LESSON_ROOM,
	LESSON_SCHEDULE,
	LESSON_START_DATE,
	LESSON_END_DATE,
	LESSON_CAPACITY,
	LESSON_TUITION_FEE,
	LESSON_MATERIAL_FEE,
	LESSON_TARGET_AUDIENCE,
	CLOSE_YN,
	wish.MEMBER_NO,
	LESSON_REGISTER_START,
	LESSON_REGISTER_END,
	LESSON_REMAINS,
	IMG_PATH,
	LESSON_DETAIL,
	DELETE_YN
FROM
	LESSONS list
JOIN LESSONS_WISHLIST wish
		USING (LESSON_NO)
WHERE
	wish.MEMBER_NO = #{memberNo}
	
	</select>


</mapper>
