<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.cooof.lesson.list.model.mapper.LessonListMapper">

	<select id="getLessonCount">
		SELECT COUNT(*)
		FROM "LESSONS"
	</select>
	
	<select id="selectLessonList">
	SELECT
	LESSON_NO,
	LESSON_TITLE,
	LESSON_ROOM,
	LESSON_SCHEDULE,
	LESSON_START_DATE,
	LESSON_END_DATE,
	LESSON_CAPACITY,
	LESSON_TUITION_FEE,
	LESSON_MATERIAL_FEE,
	LESSON_TARGET_AUDIENCE,
	CLOSE_YN,
	MEMBER_NO,
	LESSON_REGISTER_START,
	LESSON_REGISTER_END
	FROM LESSONS
	JOIN "MEMBER" USING(MEMBER_NO)
	ORDER BY LESSON_NO
	</select>
	

</mapper>
