<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.kh.cooof.lesson.list.model.mapper.LessonListMapper">

    <select id="getLessonCount">
        SELECT COUNT(*)
        FROM "LESSONS"
        WHERE DELETE_YN = 0
    </select>
    
    <select id="selectLessonList">
	SELECT
	DISTINCT LESSON_NO,
	LESSON_TITLE,
	LESSON_ROOM,
	LESSON_SCHEDULE,
	IMG_PATH,


	TO_CHAR(LESSON_START_DATE, 'YYYY-MM-DD') LESSON_START_DATE,
	TO_CHAR(LESSON_END_DATE, 'YYYY-MM-DD')
	LESSON_END_DATE,


	LESSON_CAPACITY,
	LESSON_TUITION_FEE,
	LESSON_MATERIAL_FEE,
	LESSON_TARGET_AUDIENCE,
	CLOSE_YN,
	MEMBER_NO,

	TO_CHAR(LESSON_REGISTER_START, 'YYYY-MM-DD') LESSON_REGISTER_START,
	TO_CHAR(LESSON_REGISTER_END, 'YYYY-MM-DD') LESSON_REGISTER_END,

	LESSON_REMAINS
	FROM LESSONS
	JOIN "MEMBER" USING(MEMBER_NO)
	WHERE DELETE_YN = 0

	<choose>
		<when test="order == 'asc'">
			ORDER BY LESSON_NO ASC
		</when>
		<when test="order == 'desc'">
			ORDER BY LESSON_NO DESC
		</when>
		<otherwise>
			ORDER BY LESSON_NO DESC
		</otherwise>
	</choose>
    
    </select>
    
    <select id="getSearchCount">
    SELECT COUNT(*)
    FROM "LESSONS"
     <if test="tags != null and tags.length() > 0">
        JOIN LESSON_CATEGORY USING (LESSON_NO)
    </if>
    WHERE DELETE_YN = 0
    AND LESSON_TITLE LIKE '%' || #{query} || '%'
    <if test="tags != null and tags.length() > 0">
        AND SMALL_CODE IN (${tags})
    </if>
    </select>
    
    <select id="selectSearchList">
	SELECT
	DISTINCT LESSON_NO,
	LESSON_TITLE,
	LESSON_ROOM,
	LESSON_SCHEDULE,
	IMG_PATH,

	TO_CHAR(LESSON_START_DATE, 'YYYY-MM-DD') LESSON_START_DATE,
	TO_CHAR(LESSON_END_DATE, 'YYYY-MM-DD') LESSON_END_DATE,


	LESSON_CAPACITY,
	LESSON_TUITION_FEE,
	LESSON_MATERIAL_FEE,
	LESSON_TARGET_AUDIENCE,
	CLOSE_YN,
	MEMBER_NO,

	TO_CHAR(LESSON_REGISTER_START, 'YYYY-MM-DD') AS LESSON_REGISTER_START,
	TO_CHAR(LESSON_REGISTER_END, 'YYYY-MM-DD') AS LESSON_REGISTER_END,

	LESSON_REMAINS
	FROM "LESSONS"
     <if test="tags != null and tags.length() > 0">
        JOIN LESSON_CATEGORY USING (LESSON_NO)
    </if>
    
    WHERE DELETE_YN = 0
    AND LESSON_TITLE LIKE '%' || #{query} || '%'
    
    
     <if test="tags != null and tags.length() > 0">
        AND SMALL_CODE IN (${tags})
    </if>
    
   <choose>
		<when test="order == 'asc'">
			ORDER BY LESSON_NO ASC
		</when>
		<when test="order == 'desc'">
			ORDER BY LESSON_NO DESC
		</when>
		<otherwise>
			ORDER BY LESSON_NO DESC
		</otherwise>
	</choose>
    
    
    </select>
    
	<select id="selectDetail" resultType="Lesson">
	SELECT
	LESSON_TITLE,
	LESSON_ROOM,
	LESSON_SCHEDULE,
	TO_CHAR(LESSON_START_DATE, 'YYYY-MM-DD') LESSON_START_DATE,
	TO_CHAR(LESSON_END_DATE, 'YYYY-MM-DD') LESSON_END_DATE,
	LESSON_CAPACITY,
	LESSON_TUITION_FEE,
	LESSON_MATERIAL_FEE,
	LESSON_TARGET_AUDIENCE,
	CLOSE_YN,
	MEMBER_NO,
	TO_CHAR(LESSON_REGISTER_START, 'YYYY-MM-DD') LESSON_REGISTER_START,
	TO_CHAR(LESSON_REGISTER_END, 'YYYY-MM-DD') LESSON_REGISTER_END,
	LESSON_REMAINS,
	IMG_PATH,
	LESSON_DETAIL,
	SUBSTR(LESSON_SCHEDULE, 1, 1) LESSON_SCHEDULE_DAY,
	SUBSTR(LESSON_SCHEDULE, 3, 15) LESSON_SCHEDULE_TIME
	FROM LESSONS
	WHERE LESSON_NO =
	#{lessonNo}
	</select>

	<insert id="lessonSignup">
		INSERT
		INTO
		"STUDENT_ENROLLMENTS"
		VALUES(
		#{lessonNo}, #{memberNo}, 1
		)
	</insert>

	<update id="lessonCapacityDecrease">
	UPDATE "LESSONS"
	SET LESSON_REMAINS = LESSON_REMAINS - 1
	WHERE LESSON_NO = #{lessonNo}
	</update>
	
	<select id="signupCheck" resultType="_int">
	SELECT COUNT(*) 
	FROM STUDENT_ENROLLMENTS 
	WHERE MEMBER_NO = #{memberNo}
	AND LESSON_NO = #{lessonNo}
	</select>
	
	<select id="remainsCheck" resultType="_int">
	SELECT LESSON_REMAINS
	FROM LESSONS
	WHERE LESSON_NO = #{lessonNo}
	</select>
	
	<!-- 즐겨찾기 존재 여부 확인 -->
    <select id="checkWishlist" parameterType="map" resultType="_int">
	SELECT COUNT(*)
	FROM LESSONS_WISHLIST
	WHERE LESSON_NO = #{lessonNo}
	AND MEMBER_NO = #{memberNo}
    </select>
    
     <!-- 즐겨찾기 삭제 -->
    <delete id="deleteWishlist" parameterType="map">
	DELETE FROM LESSONS_WISHLIST
	WHERE LESSON_NO = #{lessonNo}
	AND MEMBER_NO = #{memberNo}
    </delete>

	<!-- 즐겨찾기 추가 -->
	<insert id="insertWishlist" parameterType="map">
		INSERT INTO LESSONS_WISHLIST (LESSON_NO, MEMBER_NO)
		VALUES (#{lessonNo}, #{memberNo})
	</insert>
   
    
</mapper>
