<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 가입</title>
  <link rel="stylesheet" href="/css/member/signup-style.css">

  <style>
    .domain {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.domain .domain__list {
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%;
  margin-top: 4px;
  box-sizing: border-box;
  border-radius: 1px;
  border: 1px solid #d9d6d6;
  /* 리스트 안 보이게 하기 */
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: .3s;
}

.domain .domain__list.active {
  /* 리스트 보이기 */
  overflow-x : hidden;
  overflow-y : auto;
  opacity: 1;
  max-height: 60px;
}
  </style>
</head>
<body>

  <main>
    <section class="signUp-content">
      <form action="/member/signup" method="POST" name="signUpForm" id="signUpForm">

        <!-- 이메일 입력 -->
        <label for="memberEmail">
          <span class="required">*</span> 아이디(이메일)
        </label>
        <div class="signUp-input-area">
            <!-- 아이디(이메일) 입력란 -->
            <input type="text" name="memberEmailId" id="memberEmailId" placeholder="아이디" maxlength="30" autocomplete="off">
            @ 
            <input type="text" name="memberEmailDomain" id="memberEmailDomain" >
            <!-- 도메인 선택을 위한 select 요소 -->
            <select class="Email-box" id="domain-list">
              <option value="type">직접 입력</option>
              <option value="naver.com">naver.com</option>
              <option value="google.com">google.com</option>
              <option value="hanmail.net">hanmail.net</option>
              <option value="nate.com">nate.com</option>
              <option value="kakao.com">kakao.com</option>
            </select>
          </div>
        <span class="signUp-message" id="emailMessage">옳바른 이메일을 입력해주세요</span>

        <br>
        <!-- 비밀번호/비밀번호 확인 입력 -->
        <label for="memberPw">
          <span class="required">*</span> 비밀번호
        </label>
        <div class="signUp-input-area">
          <input type="password" name="memberPw" id="memberPw"
          placeholder="비밀번호" maxlength="20">
        </div>
        <div class="signUp-input-area">
          <input type="password" name="memberPwConfirm" id="memberPwConfirm"
          placeholder="비밀번호 확인" maxlength="20">
        </div>
        <span class="signUp-message" id="pwMessage">영어,숫자,특수문자(!,@,#,-,_) 6~20글자 사이로 입력해주세요.</span>

        <br>
        <!-- 성 입력 -->
        <label for="memberLastName">
          <span class="required">*</span> 성
        </label>
        <div class="signUp-input-area">
          <input type="text" name="memberLastName" id="memberLastName" placeholder="성" maxlength="10">
        </div>

        <!-- 이름 입력 -->
        <label for="memberFirstName">
          <span class="required">*</span> 이름
        </label>
        <div class="signUp-input-area">
          <input type="text" name="memberFirstName" id="memberFirstName" placeholder="이름" maxlength="10">
        </div>

        <!-- 성별 선택 -->
        <span>* 성별을 선택해주세요</span>
        <br>
        <div class="signUp-input-area">
          <input type="radio" name="memberGender" id="male" value="M">
          <label for="male">남자</label>
          <input type="radio" name="memberGender" id="female" value="F">
          <label for="female">여자</label>
        </div>
        <br>

        <!-- 생년월일 입력 -->
        <label for="memberBirthday">* 생년월일
          <input type="date" id="memberBirthday" name="memberBirthday">
        </label>
        <br>
        <span class="birthdate-message">정확한 생년월일을 입력해주세요.</span>
        <br>

        <!-- 전화번호 입력 -->
        <label for="memberPhone">
          <span class="required">*</span> 전화번호
        </label>
        <div class="signUp-input-area">
          <input type="text" name="memberPhone" id="memberPhone" placeholder="- 없이 숫자만 입력" maxlength="11">
        </div>
        <span class="signUp-message" id="telMessage">전화번호를 입력해주세요.(- 제외)</span>

        <!-- 주소 입력 -->
        <label for="memberPostcode">우편번호</label>
        <div class="signUp-input-area">
          <input type="text" name="memberAddress" placeholder="우편번호" maxlength="6" id="postcode">
          <button type="button" id="searchAddress">검색</button>
        </div>

        <label for="memberAddress">도로명/지번 주소</label>
        <div class="signUp-input-area">
          <input type="text" name="memberAddress" placeholder="도로명/지번 주소" id="address">
        </div>

        <label for="memberDetailAddress">상세 주소</label>
        <div class="signUp-input-area">
          <input type="text" name="memberAddress" placeholder="상세 주소" id="detailAddress">
        </div>

        <button type="submit" id="signUpBtn">가입하기</button>
      </form>
    </section>
  </main>



  <!-- 다음 주소 API 추가 -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  
  <script src="/js/member/signup.js"></script>
</body>
</html>
