<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/gym/gymMain.css">

</head>
<body>
    <th:black th:replace="~{gym/gymHeader}"></th:black>

    <h1>후기 게시판</h1>

    <div>
      <table>
        <thead>
            <tr>
              <th>글번호</th>
              <th>제목</th>
              <th>작성자</th>
              <th>작성일</th>
              <th>조회수</th>
            </tr>
        </thead>
      </table>
    </div>








</body>
</html>