<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UFC</title>
  <!-- <link rel="stylesheet" href="/css/common/header.css"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/lesson/main/lessonMain.css">
  <link rel="stylesheet" href="/css/common/indexLib.css">
  <link rel="stylesheet" href="/css/gym/gymMain.css">
  <link rel="stylesheet" href="/css/member/signup-style.css">
  <style id="message-styles"></style>

  

  <link rel="stylesheet" href="/css/common/notification.css">

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/js/lesson/main/lessonMain.js"></script>
  <script src="/js/common/indexLib.js"></script>
  <script src="/js/gym/gymMain.js"></script>
  <script src="/js/member/signup.js"></script>
  <script src="/js/common/notification.js"></script>
  
<!-- <style>
 .temp-container{
   
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 20px; /* 이미지 간의 간격을 조정 */
    margin-bottom: 0; /* 마지막 요소의 하단 여백 제거 */
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
  }

</style> -->

</head>

<body>


  <div th:replace="~{common/header}"></div>
  <!-- 임시 헤더 -->
  <div>


    <div class="messageDropdown" onclick="clickDropDown()">
      무끼 ▼
    </div>

  <div th:replace="~{common/header}"></div>
  <!-- 임시 헤더 -->


  <div class="quickLoginBtnSack">
    일반회원 <br>
    <button class="quickLoginBtn">testMem01@naver.com</button> <br>
    <button class="quickLoginBtn">testMem02@naver.com</button>
    <button class="quickLoginBtn">test0@naver.com</button>
    <button class="quickLoginBtn">testMem02@nave.crom</button>



    <button class="quickLoginBtn">test01@naver.com</button>
    <button class="quickLoginBtn">test02@naver.com</button>
    <button class="quickLoginBtn">test03@naver.com</button>
    <button class="quickLoginBtn">test04@naver.com</button>
    <button class="quickLoginBtn">test05@naver.com</button>
    <button class="quickLoginBtn">test06@naver.com</button>
    <button class="quickLoginBtn">test07@naver.com</button>
    <button class="quickLoginBtn">test08@naver.com</button>
    <button class="quickLoginBtn">test09@naver.com</button>
    <br> <br>
    관리자 회원 :
    <button class="quickLoginBtn">testMem03@naver.com</button>
  </div>

  <br>

  <!-- 로그인이 된 경우 -->
  <th:block th:if="${session.loginMember != null}">
    <span>이메일 : </span>
    <span th:text="${session.loginMember.memberEmail}">현재 로그인한 회원 이메일</span>
  </th:block>

  <br>

  <div class="main_wrapper">
    <div class="main_container">
      <ul class="tabs">

        <li class="tab main" data-tab="main"><p class="tabTitle">Main</p></li>
        <li class="tab library" data-tab="library"><p class="tabTitle">도서관</p></li>
        <li class="tab lesson" data-tab="lesson"><p class="tabTitle">평생학습관</p></li>
        <li class="tab health" data-tab="health"><p class="tabTitle">운동시설</p></li>
        <li class="tab community" data-tab="community"><p class="tabTitle">커뮤니티</p></li>
        <li class="tab myPage" data-tab="myPage"><p class="tabTitle">myPage</p></li>
      </ul>
  
      <!-- 화면 전환 부분 -->
      <div class="swiper" th:replace="~{common/main/swiper}"></div>
      <div th:replace="~{common/main/lib}"></div>
      <div th:replace="~{common/main/lesson}"></div>
      <div th:replace="~{common/main/health}"></div>
      <div th:replace="~{common/main/community}"></div>
      <div th:replace="~{common/main/myPage}"></div>
    </div>
  </div>
  
</body>

<script src="/js/index.js"></script>

<script th:inline="javascript">
  const message =  /*[[${message}]]*/ "전달 받은 message";
  if (message != null) alert(message);
  const loginCheck = /*[[${session?.loginMember} ? true : false]]*/ '로그인 체크';

</script>

<script src="/js/common/main.js"></script>
<script src="/js/common/message.js"></script>

</html>