<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로그램 안내/신청</title>
    <style>
    </style>

    <link rel="stylesheet" href="/css/lesson/lessonList/lessonList.css">
</head>

<body>

    <!-- 헤더 들어가는 곳 시작 -->
    <!--     <header>
        <div class="header-container">
            <img src="logo.png" alt="Logo" class="logo">
            <nav>
                <ul>
                    <li><a href="#">행복센터 소개</a></li>
                    <li><a href="#">평생교육 프로그램</a></li>
                    <li><a href="#">정보마당</a></li>
                    <li><a href="#">시설이용</a></li>
                    <li><a href="#">키즈카페</a></li>
                </ul>
            </nav>
            <div class="user-options">
                <a href="#">로그인</a>
                <a href="#">검색</a>
            </div>
        </div>
    </header> -->
    <!-- 헤더 들어가는 곳 끝 -->
    <main>

        <!-- lessonCommon 들어가는 곳 시작 -->
        <th:block th:replace="~{lesson/lessonCommon/lessonCommon}"></th:block>
        <!-- lessonCommon 들어가는 곳 끝 -->

        <!-- 세미 헤더 들어가는 곳 시작 -->
        <th:block th:replace="~{lesson/lessonCommon/semiHeader}"></th:block>
        <!-- 세미 헤더 들어가는 곳 끝 -->

        <!-- 검색창 시작 -->
        <form action="/lesson/list" method="get" id="lessonSearch">
            <section class="program-search">
                <div class="breadcrumb">
                    <a href="#">평생교육 프로그램</a> &gt; <span>프로그램 안내/신청</span>
                </div>
                <div class="search-bar">
                    <input type="text" name="query" id="searchQuery" placeholder="검색하실 수업명을 입력해주세요.">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <button type="button" class="advanced-search" id="advanced-search-toggle">상세검색 &#9660;</button>
                </div>
                <div class="advanced-search-options" id="advanced-search-options">
                    <div>
                        <!-- id값은 소분류 코드 -->
                        <span>요일별</span>
                        <button type="button" id="19">월요일</button>
                        <button type="button" id="20">화요일</button>
                        <button type="button" id="21">수요일</button>
                        <button type="button" id="22">목요일</button>
                        <button type="button" id="23">금요일</button>
                        <button type="button" id="24">토요일</button>
                        <button type="button" id="25">일요일</button>
                    </div>
                    <div>
                        <span>시간별</span>
                        <button type="button" id="10">오전</button>
                        <button type="button" id="11">오후</button>
                    </div>
                    <div class="search-button">
                    </div>
                </div>
            </section>





            <!-- 정렬 시작 -->
            <section class="program-list">
                <div class="filter-options">

                    <th:block th:if="${session.loginMember != null and session.loginMember.memberAuthority != 0}">
                        <button onclick="location.href='listEdit/insert'" type="button" class="writeBtn" id="writeBtn">수업 게시</button>
                    </th:block>

                    <button type="button" class="clicked" id="orderBtn" data-order="desc">등록일순 &#9660;</button>
                </div>

                <!-- 정렬 필드 -->
                <input type="hidden" name="order" id="orderInput" value="desc">

                <!-- 정렬 끝 -->
        </form>
        <!-- 검색창 끝 -->

        <!-- 부분 조회 시작 -->
        <th:block th:fragment="programs">

            <div class="programs">
                <!-- 반복되는 프로그램 카드 -->
                <div class="program-card" th:each="lesson : ${lessonList}">
                    <img th:src="'/images/lesson/' + ${lesson.imgPath}" alt="프로그램 이미지">
                    <div class="program-info">
                        <span id="${lesson.lessonNo}" class="label"
                            th:text="${lesson.closeYn == 1 ? '접수마감' : '접수중'}"></span>
                        <span class="category" th:text="${lesson.lessonTargetAudience}"></span>



                        <a class="detail-view-link" th:href="@{/lesson/list/{lessonNo} (lessonNo=${lesson.lessonNo}, query=${param.query}, tags=${param.tags}, cp=${pagination.currentPage}, order=${param.order})}">
                            <h3 th:text="${lesson.lessonTitle}"></h3>
                        </a>




                        <p th:text="'교육기간: ' + ${lesson.lessonStartDate} + ' ~ ' + ${lesson.lessonEndDate}"></p>
                        <p th:if="${lesson.lessonTuitionFee == 0}" th:text="'참가비: 무료'"></p>
                        <p th:if="${lesson.lessonTuitionFee != 0}" th:text="'참가비: ' + ${lesson.lessonTuitionFee} + '원'">
                        </p>
                        <p th:if="${lesson.lessonMaterialFee == 0}" th:text="'재료비: 무료'"></p>
                        <p th:if="${lesson.lessonMaterialFee != 0}"
                            th:text="'재료비: ' + ${lesson.lessonTuitionFee} + '원'"></p>
                        <p th:text="|정원: ${lesson.lessonCapacity}명 (잔여:${lesson.lessonRemains})|"></p>
                    </div>
                </div>
                <!-- 반복되는 프로그램 카드 끝 -->
            </div>


            </div>


            <!-- 페이지네이션 영역 시작 -->
            <div class="pagination-area">

                <!-- 일반 목록 조회 ( 검색 X ) -->
                <ul class="pagination" th:unless="${param.query}" th:object="${pagination}">

                    <!-- 첫 페이지로 이동 -->
                    <li><a th:href="@{/lesson/list (cp=1)}" th:data-page="1" class="page-arrow"><i
                                class="fa-solid fa-backward-step"></i></a>
                    </li>

                    <!-- 이전 목록 마지막 번호로 이동 -->
                    <li><a th:href="@{/lesson/list (cp=*{prevPage})}" th:data-page="*{prevPage}" class="page-arrow"><i
                                class="fa-solid fa-play fa-flip-horizontal"></i></a></li>

                    <!-- 특정 페이지로 이동 -->
                    <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">

                        <!-- 현재 보고있는 페이지 -->
                        <li th:if="${i} == *{currentPage}">
                            <a class="active page-number" th:text="${i}" th:data-page="${i}">현재 페이지</a>
                        </li>

                        <!-- 보고있지 않은 페이지 -->
                        <li th:unless="${i} == *{currentPage}">
                            <a th:href="@{/lesson/list (cp=${i})}" th:text="${i}" th:data-page="${i}"
                                class="page-number">이동할 페이지</a>
                        </li>

                    </th:block>

                    <!-- 다음 목록 시작 번호로 이동 -->
                    <li><a th:href="@{/lesson/list (cp=*{nextPage})}" th:data-page="*{nextPage}" class="page-arrow"><i
                                class="fa-solid fa-play"></i></a></li>

                    <!-- 끝 페이지로 이동 -->
                    <li><a th:href="@{/lesson/list (cp=*{maxPage})}" th:data-page="*{maxPage}" class="page-arrow">
                            <i class="fa-solid fa-forward-step"></i>
                        </a></li>
                </ul>

                <!-- ------------- 검색인 경우 ------------- -->
                <ul class="pagination" th:if="${param.query}" th:object="${pagination}">

                    <!-- 첫 페이지로 이동 -->
                    <li><a th:href="@{/lesson/list (cp=1, key=${param.key}, query=${param.query})}" th:data-page="1"
                            class="page-arrow"><i class="fa-solid fa-backward-step"></i></a></li>

                    <!-- 이전 목록 마지막 번호로 이동 -->
                    <li><a th:href="@{/lesson/list (cp=*{prevPage}, key=${param.key}, query=${param.query})}"
                            th:data-page="*{prevPage}" class="page-arrow"><i
                                class="fa-solid fa-play fa-flip-horizontal"></i></a></li>

                    <!-- 특정 페이지로 이동 -->
                    <th:block th:if="*{startPage lt endPage}" th:each="i : *{#numbers.sequence(startPage, endPage)}">

                        <!-- 현재 보고있는 페이지 -->
                        <li th:if="${i} == *{currentPage}">
                            <a class="active page-number" th:text="${i}" th:data-page="${i}">현재 페이지</a>
                        </li>

                        <!-- 보고있지 않은 페이지 -->
                        <li th:unless="${i} == *{currentPage}">
                            <a th:href="@{/lesson/list (cp=${i}, key=${param.key}, query=${param.query})}"
                                th:text="${i}" th:data-page="${i}" class="page-number">이동할 페이지</a>
                        </li>
                    </th:block>

                    <!-- 일치하는 게시글이 없을 경우 -->
                    <th:block th:unless="*{startPage lt endPage}">
                        <li>
                            <a class="active">1</a>
                        </li>
                    </th:block>

                    <!-- 다음 목록 시작 번호로 이동 -->
                    <li><a th:href="@{/lesson/list (cp=*{nextPage}, key=${param.key}, query=${param.query})}"
                            th:data-page="*{nextPage}" class="page-arrow"><i class="fa-solid fa-play"></i></a></li>

                    <!-- 끝 페이지로 이동 -->
                    <li><a th:href="@{/lesson/list (cp=*{maxPage}, key=${param.key}, query=${param.query})}"
                            th:data-page="*{maxPage}" class="page-arrow">
                            <i class="fa-solid fa-forward-step"></i>


                        </a>
                    </li>
                </ul>

            </div>
            <!-- 페이지네이션 영역 끝 -->

        </th:block>
        <!-- 부분 조회 끝 -->



        </section>
    </main>

    <!-- 푸터 시작 -->
    <!--  <footer>
        <div class="footer-container">
            <p>찾아오시는 길 | 사이트맵</p>
            <address>
                [23037] 인천광역시 강화군 남문로 19<br>
                행복센터 032)934-3901~2 / 키즈카페 032)934-3903 / Fax. 032)724-4009 / 이메일 ghhappy@ghhappy.or.kr<br>
                Copyright © 2022 Ganghwa-gun District Incheon Metropolitan City. All rights reserved.
            </address>
            <p>032-934-3901~2</p>
            <p>AM 9:00 ~ PM 06:00 (점심시간 12:00~13:00) 일/공휴일 휴무</p>
        </div>
    </footer> -->
    <!-- 푸터 끝 -->

    <!-- JS 연결 -->
    <script src="/js/lesson/lessonList/lessonList.js"></script>
    <!-- JS 연결 끝 -->


</body>

</html>