<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>수업 수정</title>

  <link rel="stylesheet" href="/css/lesson/lessonList/lessonWrite.css">

</head>

<body>

  <main>

    <!-- 세미 헤더 들어가는 곳 시작 -->
    <th:block th:replace="~{lesson/lessonCommon/semiHeader}"></th:block>
    <!-- 세미 헤더 들어가는 곳 끝 -->



    <section class="lesson-post-content">

      <form th:action="@{update}" method="POST" name="lessonPostFrm" id="lessonPostFrm"
        enctype="multipart/form-data">
        

        <!-- 수업명 입력 -->
        <label for="lessonTitle">
          <span class="required">*</span> 수업명
        </label>

        <div class="lesson-input-area">
          <input type="text" name="lessonTitle" id="lessonTitle" placeholder="수업명 작성해주세요." maxlength="30"
            autocomplete="off" th:value="${lesson.lessonTitle}">
        </div>

        <!-- 수업 개요 입력 -->
        <label for="lessonDetail">
          <span class="required">*</span> 수업 개요
        </label>

        <div class="lesson-input-area">
          <input type="text" name="lessonDetail" id="lessonDetail" placeholder="수업 개요 작성해주세요." maxlength="100"
            autocomplete="off" th:value="${lesson.lessonDetail}">
        </div>

        <!-- 강의실 입력 -->
        <label for="lessonRoom">
          <span class="required">*</span> 강의실
        </label>

        <div class="lesson-input-area">
          <select name="lessonRoom" id="lessonRoom" >
            <option value="A 강의실">A 강의실</option>
            <option value="B 강의실">B 강의실</option>
            <option value="C 강의실">C 강의실</option>
            <option value="D 강의실">D 강의실</option>
            <option value="E 강의실">E 강의실</option>
            <option value="F 강의실">F 강의실</option>
            <option value="G 강의실">G 강의실</option>
            <option value="H 강의실">H 강의실</option>
            <option value="I 강의실">I 강의실</option>
            <option value="J 강의실">J 강의실</option>
          </select>
        </div>




        <!-- 수업 시간 -->
        <label for="lessonScheduleDay">
          <span class="required">*</span> 수업 요일 및 시간
        </label>

        <div class="lesson-input-area">
          <select name="lessonScheduleDay" id="lessonScheduleDay">
            <option value="월">월</option>
            <option value="화">화</option>
            <option value="수">수</option>
            <option value="목">목</option>
            <option value="금">금</option>
            <option value="토">토</option>
            <option value="일">일</option>
          </select>
          <select name="lessonSchedule" id="lessonSchedule">
            <option value="09:00 ~ 10:30">09:00 ~ 10:30</option>
            <option value="10:30 ~ 12:00">10:30 ~ 12:00</option>
            <option value="12:00 ~ 13:30">12:00 ~ 13:30</option>
            <option value="13:30 ~ 15:00">13:30 ~ 15:00</option>
            <option value="15:00 ~ 16:30">15:00 ~ 16:30</option>
            <option value="16:30 ~ 18:00">16:30 ~ 18:00</option>
            <option value="18:00 ~ 19:30">18:00 ~ 19:30</option>
            <option value="19:30 ~ 21:00">19:30 ~ 21:00</option>
          </select>
        </div>

        <!-- 수업 시작 날짜 -->
        <label for="lessonStartDate">
          <span class="required">*</span> 수업 시작 날짜
        </label>

        <div class="lesson-input-area">
          <input type="date" name="lessonStartDate" id="lessonStartDate" th:value="${lesson.lessonStartDate}">
        </div>

        <!-- 수업 종료 날짜 -->
        <label for="lessonEndDate">
          <span class="required">*</span> 수업 종료 날짜
        </label>

        <div class="lesson-input-area">
          <input type="date" name="lessonEndDate" id="lessonEndDate" th:value="${lesson.lessonEndDate}">
        </div>

        <!-- 수업 정원 -->
        <label for="lessonCapacity">
          <span class="required">*</span> 수업 정원
        </label>

        <div class="lesson-input-area">
          <input type="number" name="lessonCapacity" id="lessonCapacity" placeholder="수업 정원 작성해주세요." min="1" th:value="${lesson.lessonCapacity}">
        </div>

        <!-- 수업 수강료 -->
        <label for="lessonTuitionFee">
          <span class="required">*</span> 수업 수강료
        </label>

        <div class="lesson-input-area">
          <input type="number" name="lessonTuitionFee" id="lessonTuitionFee" placeholder="수업 수강료 작성해주세요." min="0" th:value="${lesson.lessonTuitionFee}">
        </div>

        <!-- 수업 재료비 -->
        <label for="lessonMaterialFee">
          <span class="required">*</span> 수업 재료비
        </label>

        <div class="lesson-input-area">
          <input type="number" name="lessonMaterialFee" id="lessonMaterialFee" placeholder="수업 재료비 작성해주세요." min="0" th:value="${lesson.lessonMaterialFee}">
        </div>

        <!-- 수업 대상 -->
        <label for="lessonTargetAudience">
          <span class="required">*</span> 수업 대상
        </label>

        <div class="lesson-input-area">
          <select name="lessonTargetAudience" id="lessonTargetAudience">
            <option value="성인">성인</option>
            <option value="어린이">어린이</option>
          </select>
        </div>

        <!-- 수업 등록 시작 날짜 -->
        <label for="lessonRegisterStart">
          <span class="required">*</span> 수업 등록 시작 날짜
        </label>

        <div class="lesson-input-area">
          <input type="date" name="lessonRegisterStart" id="lessonRegisterStart" th:value="${lesson.lessonRegisterStart}">
        </div>

        <!-- 수업 등록 종료 날짜 -->
        <label for="lessonRegisterEnd">
          <span class="required">*</span> 수업 등록 종료 날짜
        </label>

        <div class="lesson-input-area">
          <input type="date" name="lessonRegisterEnd" id="lessonRegisterEnd" th:value="${lesson.lessonRegisterEnd}">
        </div>

        <!-- 이미지 경로 -->
        <label for="inputImg">썸네일 선택</label>

        
        <div class="lesson-input-area">
          <img id="previewImg" src="" alt="썸네일 프리뷰">
        </div>

        <button type="button" id="customButton" class="custom-button">이미지 선택</button>
        <input type="file" name="inputImg" id="inputImg" class="inputImg" accept="image/*">


        <button type="submit" id="lessonUpdateBtn">수정하기</button>
      </form>
    </section>

  </main>


  <!-- lessonCommon 들어가는곳 시작 -->
  <th:block th:replace="~{lesson/lessonCommon/lessonCommon}"></th:block>
  <!-- lessonCommon 들어가는곳 끝 -->

  <!-- 푸터 부분 시작 -->
  <!-- <th:block th:replace="~{common/footer}"></th:block> -->
  <!-- 푸터 부분 끝 -->

  <!-- 수업 게시 JS 연결 시작 -->
  <script src="/js/lesson/lessonList/lessonUpdate.js"></script>
  <!-- 수업 게시 JS 연결 끝 -->


  <script th:inline="javascript">

    /* 기존에 선택된 강의실 미리 세팅하기 시작 */
    const selectRoom = /*[[${lesson.lessonRoom}]]*/ "기존에 선택된 강의실";
    const lessonRoom = document.querySelector("#lessonRoom");
    
    for(let opt of lessonRoom.options){
      if(opt.innerText == selectRoom) {
        opt.selected = true;
        break;
      }
    }
    /* 기존에 선택된 강의실 미리 선택되있게 하기 끝 */

    /* 기존에 선택된 수업 요일 및 시간 세팅하기 시작 */
    const selectDay = /*[[${lesson.lessonScheduleDay}]]*/ "기존에 선택된 요일";
    const lessonScheduleDay = document.querySelector("#lessonScheduleDay");

    for(let opt of lessonScheduleDay.options){
      if(opt.innerText == selectDay) {
        opt.selected = true;
        break;
      }
    }

    const selectTime = /*[[${lesson.lessonScheduleTime}]]*/ "기존에 선택된 수업 시간";
    const lessonSchedule = document.querySelector("#lessonSchedule");

    for(let opt of lessonSchedule.options){
      if(opt.innerText == selectTime) {
        opt.selected = true;
        break;
      }
    }


    /* 기존에 선택된 수업 요일 및 시간 세팅하기 끝 */

    /* 기존에 선택된 수업 대상 세팅하기 시작 */
    const selectTarget = /*[[${lesson.lessonTargetAudience}]]*/ "기존에 선택된 수업 대상";
    const lessonTargetAudience = document.querySelector("#lessonTargetAudience");

    for(let opt of lessonTargetAudience.options){
      if(opt.innerText == selectTarget) {
        opt.selected = true;
        break;
      }
    }
    /* 기존에 선택된 수업 대상 세팅하기 끝 */


    /* 이미지 프리뷰 시작 */
    /* 이미지 프리뷰 시작 */

// 가짜 버튼 클릭 시 파일 인풋 선택으로 연결
document.getElementById('customButton').addEventListener('click', function() {
  // 'inputImg' 요소를 클릭하여 파일 선택 대화 상자를 엶
  document.getElementById('inputImg').click();
});


// 'inputImg' 요소에 이벤트 리스너를 추가하여 사용자가 파일을 선택할 때 실행되도록 설정
document.getElementById('inputImg').addEventListener('change', function (event) {
  // 선택한 파일을 가져옴
  const file = event.target.files[0];
  // 파일이 존재하는 경우
  if (file) {
    // FileReader 객체를 생성
    const reader = new FileReader();
    // 파일을 다 읽었을 때 실행될 함수 설정
    reader.onload = function (e) {
      // 'previewImg' 요소를 가져옴
      const previewImg = document.getElementById('previewImg');
      // 읽은 파일의 데이터 URL을 이미지의 src 속성에 설정
      previewImg.src = e.target.result;
      // 이미지를 화면에 표시
      previewImg.style.display = 'block';
    };
    // 파일을 데이터 URL로 읽기 시작
    reader.readAsDataURL(file);
  }
});
/* 이미지 프리뷰 끝 */


    /* 이미지 프리뷰 끝 */

    

    </script>

</body>

</html>