<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.cooof.lib.book.model.mapper.BookMapper">

	<select id="selectBookStorage">
		SELECT *
		FROM BOOK_STORAGE_LOCATION
		ORDER BY STORAGE_NAME DESC
	</select>
	
	<select id="getListCount">
		SELECT COUNT(*)
		FROM "BOOK_INFO"
	</select>
	
	<select id="getBookList">
		SELECT * FROM BOOK_INFO
		ORDER BY BOOK_NO
	</select>
	
	<select id="categoryList" resultType="string">
		SELECT CAT_NAME
		FROM BOOK_CATEGORY
		JOIN BOOK_STORAGE_LOCATION USING (STORAGE_NO)
		WHERE STORAGE_NAME = #{storageName}
		ORDER BY CAT_NO
	</select>

</mapper>
