<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.cooof.lib.book.model.mapper.BookMapper">

	<select id="selectBookStorage">
		SELECT *
		FROM BOOK_STORAGE_LOCATION
		ORDER BY STORAGE_NAME DESC
	</select>
	
	<select id="getListCount">
		SELECT COUNT(*)
		FROM "BOOK_INFO"
	</select>
	
	<select id="getBookList">
		SELECT * FROM BOOK_INFO
		ORDER BY BOOK_NO
	</select>
	
	<select id="categoryList">
		SELECT *
		FROM BOOK_CATEGORY
		JOIN BOOK_STORAGE_LOCATION USING (STORAGE_NO)
		WHERE STORAGE_NAME = #{storageName}
		ORDER BY CAT_NO
	</select>
	
	<select id="checkedListCount">
		SELECT COUNT(*)
		FROM "BOOK_INFO"
		JOIN "BOOK_CATEGORY" USING(CAT_NO)
		WHERE CAT_NO IN 
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
	</select>
	
	<select id="checkedBookList">
		SELECT * FROM BOOK_INFO
		JOIN "BOOK_CATEGORY" USING(CAT_NO)
		WHERE CAT_NO IN
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
		ORDER BY BOOK_NO
	</select>
	
	<select id="searchCount">
		SELECT COUNT(*)
		FROM BOOK_INFO
		WHERE BOOK_TITLE LIKE '%' || #{query} || '%'
		ORDER BY BOOK_NO
	</select>
	
	<select id="searchCount2">
		SELECT COUNT(*)
		FROM "BOOK_INFO"
		JOIN "BOOK_CATEGORY" USING(CAT_NO)
		WHERE BOOK_TITLE LIKE '%' || #{query} || '%'
		AND CAT_NO IN
			<foreach item="item" index="index" collection="catList" open="(" separator="," close=")">
				#{item}
			</foreach>
		ORDER BY BOOK_NO
	</select>
	
	<select id="searchBook">
		SELECT * FROM BOOK_INFO
		WHERE BOOK_TITLE LIKE '%' || #{query} || '%'
		ORDER BY BOOK_NO
	</select>
	
	<select id="searchBook2">
		SELECT * FROM BOOK_INFO
		WHERE BOOK_TITLE LIKE '%' || #{query} || '%'
		AND CAT_NO IN
			<foreach item="item" index="index" collection="catList" open="(" separator="," close=")">
				#{item}
			</foreach>
		ORDER BY BOOK_NO
	</select>
	
	<select id="selectBook">
		SELECT * 
		FROM BOOK_INFO
		WHERE BOOK_NO = #{bookNo}
	</select>
	 
	<select id="selectBrowsingList">
		SELECT * FROM (
		    SELECT 
		    	BI.BOOK_NO,
		        BI.BOOK_TITLE, 
		        BI.AUTHOR_LAST_NAME, 
		        BI.AUTHOR_FIRST_NAME, 
		        BI.BOOK_PUBLISHER,
		        ROWNUM AS rnum
		    FROM 
		        BOOK_INFO BI
		    JOIN 
		        BOOK_CATEGORY BC ON BI.CAT_NO = BC.CAT_NO
		    WHERE 
		        BC.STORAGE_NO = (
		            SELECT 
		                BC.STORAGE_NO 
		            FROM 
		                BOOK_INFO BI 
		            JOIN 
		                BOOK_CATEGORY BC ON BI.CAT_NO = BC.CAT_NO
		            WHERE 
		                BI.BOOK_NO = #{bookNo}
		        )
		    ORDER BY 
		        BI.BOOK_LIKE_NUM DESC
		)
		<![CDATA[
		WHERE rnum <= 16
		]]>
	</select>
	
	
	<select id="selectLoanList">
		SELECT * FROM (
		    SELECT 
		    	BI.BOOK_NO,
		        BI.BOOK_TITLE,
		        BI.AUTHOR_LAST_NAME,
		        BI.AUTHOR_FIRST_NAME,
		        BI.BOOK_PUBLISHER,
		        ROWNUM AS rnum
		    FROM 
		        LOAN_BOOK LB1
		    JOIN 
		        LOAN_BOOK LB2 ON LB1.MEMBER_NO = LB2.MEMBER_NO
		    JOIN 
		        BOOK_INFO BI ON LB2.BOOK_NO = BI.BOOK_NO
		    WHERE 
		        LB1.BOOK_NO = #{bookNo}
		        AND LB2.BOOK_NO != #{bookNo}
		    ORDER BY 
		        LB2.LOAN_BOOK_NO 
		)
		<![CDATA[
		WHERE rnum <= 16
		]]>
	</select>
	
	<select id="selectThemeList">
		SELECT 
			BI.BOOK_NO,
		    BI.BOOK_TITLE,
		    BI.AUTHOR_LAST_NAME,
		    BI.AUTHOR_FIRST_NAME,
		    BI.BOOK_PUBLISHER
		FROM 
		    BOOK_INFO BI
		JOIN 
		    BOOK_CATEGORY BC ON BI.CAT_NO = BC.CAT_NO
		WHERE 
		    BI.CAT_NO = (
		        SELECT 
		            CAT_NO 
		        FROM 
		            BOOK_INFO 
		        WHERE 
		            BOOK_NO = #{bookNo}
		    )
		ORDER BY 
		    BI.BOOK_LIKE_NUM DESC
		FETCH FIRST 16 ROWS ONLY
	</select>
	
	<select id="selectAgeStatistics" resultType="java.lang.Integer">
		WITH AgeGroups AS (
		    SELECT LEVEL * 10 - 10 AS AgeGroupStart
		    FROM dual
		    <![CDATA[
		    CONNECT BY LEVEL <= 10
		    ]]>
		)
		SELECT 
		       NVL(COUNT(LB.MEMBER_NO), 0) AS LOAN_COUNT
		FROM AgeGroups AG
		LEFT JOIN MEMBER M ON TRUNC((SYSDATE - M.MEMBER_BIRTHDAY) / 365.25 / 10) * 10 = AG.AgeGroupStart
		LEFT JOIN LOAN_BOOK LB ON LB.MEMBER_NO = M.MEMBER_NO AND LB.BOOK_NO = #{bookNo}
		GROUP BY AG.AgeGroupStart
		ORDER BY AG.AgeGroupStart
	</select>
	
	<select id="selectYearStatistics">
		WITH YEAR_MEMBER AS(
			SELECT 2014 + LEVEL AS YEAR_GROUP
			FROM DUAL
			<![CDATA[
		    CONNECT BY LEVEL <= 10
		    ]]>
		)
		
		SELECT NVL(COUNT(LB.BOOK_END), 0) AS "COUNT"
		FROM YEAR_MEMBER YM
		LEFT JOIN LOAN_BOOK LB ON EXTRACT(YEAR FROM LB.BOOK_END) = YEAR_GROUP AND LB.BOOK_NO = #{bookNo}
		GROUP BY YM.YEAR_GROUP
		ORDER BY YM.YEAR_GROUP
	</select>
	
	
	
	

</mapper>
