<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.cooof.lib.book.model.mapper.BookLoanMapper">

	<select id="selectList">
		SELECT RENT_BOOK_NO, BOOK_TITLE, BOOK_NO, MEMBER_NO, MEMBER_FIRST_NAME , MEMBER_LAST_NAME 
		FROM RENT_BOOK
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN BOOK_INFO USING(BOOK_NO)
		WHERE RENT_BOOK_CHECK = 2
		ORDER BY RENT_BOOK_NO
	</select>
	
	<select id="getListCount">
		SELECT COUNT(*)
		FROM RENT_BOOK
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN BOOK_INFO USING(BOOK_NO)
		WHERE RENT_BOOK_CHECK = 2
	</select>
	
	<select id="getQueryListCount">
		SELECT COUNT(*)
		FROM RENT_BOOK
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN BOOK_INFO USING(BOOK_NO)
		WHERE RENT_BOOK_CHECK = 2
		AND BOOK_TITLE LIKE '%' || #{query} || '%'
	</select>
	
	<select id="selectQueryList">
		SELECT RENT_BOOK_NO, BOOK_TITLE, BOOK_NO, MEMBER_NO, MEMBER_FIRST_NAME , MEMBER_LAST_NAME 
		FROM RENT_BOOK
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN BOOK_INFO USING(BOOK_NO)
		WHERE RENT_BOOK_CHECK = 2
		AND BOOK_TITLE LIKE '%' || #{query} || '%'
		ORDER BY RENT_BOOK_NO
	</select>
	
	<insert id="insertLoan">
		INSERT INTO LOAN_BOOK
		VALUES(SEQ_LOAN_BOOK_NO.NEXTVAL, SYSDATE, SYSDATE + 3, DEFAULT, DEFAULT, #{memberNo}, #{bookNo}, DEFAULT)
	</insert>
	
	<update id="deleteRent">
		UPDATE RENT_BOOK
		SET RENT_BOOK_CHECK = 0
		WHERE BOOK_NO = #{bookNo}
		AND MEMBER_NO = #{memberNo}
	</update>
	
	
	
	
	
	
	
	
	
	
	
	

</mapper>
