<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.cooof.lib.book.model.mapper.BookLoanMapper">

	<select id="selectList">
		SELECT LOAN_BOOK_NO, BOOK_TITLE, MEMBER_NO, MEMBER_FIRST_NAME , MEMBER_LAST_NAME 
		FROM LOAN_BOOK
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN BOOK_INFO USING(BOOK_NO)
		WHERE LOAN_BOOK_STATUS = 1
	</select>
	
	<select id="getListCount">
		SELECT COUNT(*)
		FROM LOAN_BOOK
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN BOOK_INFO USING(BOOK_NO)
		WHERE LOAN_BOOK_STATUS = 1
	</select>
	

</mapper>
