<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.cooof.lib.book.model.mapper.BookLoanMapper">

	<select id="selectList">
		SELECT RENT_BOOK_NO, BOOK_TITLE, BOOK_NO, MEMBER_NO, MEMBER_FIRST_NAME , MEMBER_LAST_NAME 
		FROM RENT_BOOK
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN BOOK_INFO USING(BOOK_NO)
		WHERE RENT_BOOK_CHECK = 2
		ORDER BY RENT_BOOK_NO
	</select>
	
	<select id="getListCount">
		SELECT COUNT(*)
		FROM RENT_BOOK
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN BOOK_INFO USING(BOOK_NO)
		WHERE RENT_BOOK_CHECK = 2
	</select>
	
	<select id="getQueryListCount">
		SELECT COUNT(*)
		FROM RENT_BOOK
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN BOOK_INFO USING(BOOK_NO)
		WHERE RENT_BOOK_CHECK = 2
		AND BOOK_TITLE LIKE '%' || #{query} || '%'
	</select>
	
	<select id="selectQueryList">
		SELECT RENT_BOOK_NO, BOOK_TITLE, BOOK_NO, MEMBER_NO, MEMBER_FIRST_NAME , MEMBER_LAST_NAME 
		FROM RENT_BOOK
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN BOOK_INFO USING(BOOK_NO)
		WHERE RENT_BOOK_CHECK = 2
		AND BOOK_TITLE LIKE '%' || #{query} || '%'
		ORDER BY RENT_BOOK_NO
	</select>
	
	<insert id="insertLoan">
		INSERT INTO LOAN_BOOK
		VALUES(SEQ_LOAN_BOOK_NO.NEXTVAL, SYSDATE, SYSDATE + 3, DEFAULT, DEFAULT, #{memberNo}, #{bookNo}, DEFAULT)
	</insert>
	
	<update id="deleteRent">
		UPDATE RENT_BOOK
		SET RENT_BOOK_CHECK = 0
		WHERE BOOK_NO = #{bookNo}
		AND MEMBER_NO = #{memberNo}
	</update>
	
	<update id="downBook">
		UPDATE BOOK_INFO
		SET AVALABLE_COUNT = AVALABLE_COUNT - 1
		WHERE BOOK_NO = #{bookNo}
	</update>
	
	<select id="getReturnListCount">
		SELECT COUNT(*)
		FROM LOAN_BOOK
		WHERE LOAN_BOOK_STATUS = 1
	</select>
	
	<select id="selectReturnList">
		SELECT LOAN_BOOK_NO, BOOK_TITLE, BOOK_NO, MEMBER_NO, MEMBER_FIRST_NAME , MEMBER_LAST_NAME, BOOK_START, BOOK_END
		FROM LOAN_BOOK
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN BOOK_INFO USING(BOOK_NO)
		WHERE LOAN_BOOK_STATUS = 1
		ORDER BY LOAN_BOOK_NO 
	</select>
	
	<select id="getQueryReturnListCount">
		SELECT COUNT(*)
		FROM LOAN_BOOK
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN BOOK_INFO USING(BOOK_NO)
		WHERE LOAN_BOOK_STATUS = 1
		AND BOOK_TITLE LIKE '%' || #{query} || '%'
	</select>
	
	<select id="queryReturnList">
		SELECT LOAN_BOOK_NO, BOOK_TITLE, BOOK_NO, MEMBER_NO, MEMBER_FIRST_NAME , MEMBER_LAST_NAME, BOOK_START, BOOK_END
		FROM LOAN_BOOK
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN BOOK_INFO USING(BOOK_NO)
		WHERE LOAN_BOOK_STATUS = 1
		AND BOOK_TITLE LIKE '%' || #{query} || '%'
		ORDER BY LOAN_BOOK_NO 
	</select>
	
	<update id="completeLoan">
		UPDATE LOAN_BOOK
		SET LOAN_BOOK_STATUS = 0
		WHERE LOAN_BOOK_NO = #{loanBookNo}
	</update>
	
	<update id="upBook">
		UPDATE BOOK_INFO
		SET AVALABLE_COUNT = AVALABLE_COUNT + 1
		WHERE BOOK_NO = #{bookNo}
	</update>
	
	<update id="loanExtend">
		UPDATE LOAN_BOOK
		SET BOOK_END = BOOK_END + 7,
			BOOK_EXTEND = 0,
			BOOK_RETURN = 2
		WHERE LOAN_BOOK_NO = #{loanBookNo}
	</update>
	
	<select id="getHopeListCount">
		SELECT COUNT(*)
		FROM NEW_BOOK
		WHERE NEW_BOOK_CHECK = 0
	</select>
	
	<select id="selectHopeList">
		SELECT NEW_BOOK_NO, NEW_TITLE, AUTHOR_LAST_NAME, AUTHOR_FIRST_NAME, PUBLISHER, MEMBER_NO
		FROM NEW_BOOK
		WHERE NEW_BOOK_CHECK = 0
		ORDER BY NEW_BOOK_NO
	</select>
	
	<select id="getExtendListCount">
		SELECT COUNT(*)
		FROM LOAN_BOOK
		WHERE BOOK_RETURN = 1
	</select>
	
	<select id="selectExtendList">
		SELECT LOAN_BOOK_NO, BOOK_TITLE, BOOK_NO, MEMBER_NO, MEMBER_FIRST_NAME , MEMBER_LAST_NAME, BOOK_START, BOOK_END
		FROM LOAN_BOOK
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN BOOK_INFO USING(BOOK_NO)
		WHERE LOAN_BOOK_STATUS = 1
		AND BOOK_RETURN = 1
		ORDER BY LOAN_BOOK_NO 
	</select>
	
	<select id="getQueryHopeListCount">
		SELECT COUNT(*)
		FROM NEW_BOOK
		WHERE NEW_BOOK_CHECK = 0
		AND NEW_TITLE LIKE '%' || #{query} || '%'
		ORDER BY NEW_BOOK_NO
	</select>
	
	<select id="queryHopeList">
		SELECT NEW_BOOK_NO, NEW_TITLE, AUTHOR_LAST_NAME, AUTHOR_FIRST_NAME, PUBLISHER, MEMBER_NO
		FROM NEW_BOOK
		WHERE NEW_BOOK_CHECK = 0
		AND NEW_TITLE LIKE '%' || #{query} || '%'
		ORDER BY NEW_BOOK_NO
	</select>
	
	<update id="completeHopeBook">
		UPDATE NEW_BOOK
		SET NEW_BOOK_CHECK = 1
		WHERE NEW_BOOK_NO = #{newBookNo}
	</update>

	<select id="getQueryExtendListCount">
		SELECT COUNT(*)
		FROM LOAN_BOOK
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN BOOK_INFO USING(BOOK_NO)
		WHERE LOAN_BOOK_STATUS = 1
		AND BOOK_RETURN = 1
		AND BOOK_TITLE LIKE '%' || #{query} || '%'
	</select>

	<select id="queryExtendList">
		SELECT LOAN_BOOK_NO, BOOK_TITLE, BOOK_NO, MEMBER_NO, MEMBER_FIRST_NAME , MEMBER_LAST_NAME, BOOK_START, BOOK_END
		FROM LOAN_BOOK
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN BOOK_INFO USING(BOOK_NO)
		WHERE LOAN_BOOK_STATUS = 1
		AND BOOK_RETURN = 1
		AND BOOK_TITLE LIKE '%' || #{query} || '%'
		ORDER BY LOAN_BOOK_NO 
	</select>

	<insert id="transmitMessage">
    <choose>
        <when test="checkNo == 1">
            INSERT INTO MESSAGE (MESSAGE_NO, MESSAGE_DATE, SEEN_DATE, MESSAGE_TITLE, MESSAGE_CONTENT, MESSAGE_STATUS, MESSAGE_SEN, MESSAGE_REV)
            VALUES (SEQ_MESSAGE_NO.NEXTVAL, SYSDATE, SYSDATE, '희망 도서 신청 완료', '신청하신 희망 도서가 입고하였습니다.', DEFAULT, #{memberNo}, #{applyMemberNo})
        </when>
        <when test="checkNo == 2">
            INSERT INTO MESSAGE (MESSAGE_NO, MESSAGE_DATE, SEEN_DATE, MESSAGE_TITLE, MESSAGE_CONTENT, MESSAGE_STATUS, MESSAGE_SEN, MESSAGE_REV)
            VALUES (SEQ_MESSAGE_NO.NEXTVAL, SYSDATE, SYSDATE, '도서 연장 신청 완료', '신청하신 도서 연장이 완료되었습니다.', DEFAULT, #{memberNo}, #{applyMemberNo})
        </when>
        <when test="checkNo == 3">
            INSERT INTO MESSAGE (MESSAGE_NO, MESSAGE_DATE, SEEN_DATE, MESSAGE_TITLE, MESSAGE_CONTENT, MESSAGE_STATUS, MESSAGE_SEN, MESSAGE_REV)
            VALUES (SEQ_MESSAGE_NO.NEXTVAL, SYSDATE, SYSDATE, '강사 신청 승인', '지원하신 강사 자리에 신청 승인 되었습니다.', DEFAULT, #{memberNo}, #{applyMemberNo})
        </when>
        <when test="checkNo == 4">
            INSERT INTO MESSAGE (MESSAGE_NO, MESSAGE_DATE, SEEN_DATE, MESSAGE_TITLE, MESSAGE_CONTENT, MESSAGE_STATUS, MESSAGE_SEN, MESSAGE_REV)
            VALUES (SEQ_MESSAGE_NO.NEXTVAL, SYSDATE, SYSDATE, '강사 신청 거절', '지원하신 강사 자리에 신청 거절 되었습니다.', DEFAULT, #{memberNo}, #{applyMemberNo})
        </when>
		<when test="checkNo == 5">
            INSERT INTO MESSAGE (MESSAGE_NO, MESSAGE_DATE, SEEN_DATE, MESSAGE_TITLE, MESSAGE_CONTENT, MESSAGE_STATUS, MESSAGE_SEN, MESSAGE_REV)
            VALUES (SEQ_MESSAGE_NO.NEXTVAL, SYSDATE, SYSDATE, '열람실 반환 5분전', '현재 사용하고 계시는 열림실의 이용 시간이 5분 남았습니다.', DEFAULT, #{memberNo}, #{applyMemberNo})
        </when>
        <when test="checkNo == 6">
            INSERT INTO MESSAGE (MESSAGE_NO, MESSAGE_DATE, SEEN_DATE, MESSAGE_TITLE, MESSAGE_CONTENT, MESSAGE_STATUS, MESSAGE_SEN, MESSAGE_REV)
            VALUES (SEQ_MESSAGE_NO.NEXTVAL, SYSDATE, SYSDATE, '열람실 사용 종료', '현재 사용하고 계시는 열림실의 이용 시간이 끝났습니다.', DEFAULT, #{memberNo}, #{applyMemberNo})
        </when>        
        
        
    </choose>
</insert>




</mapper>
