<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>운동 정보</title>

    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/gym/gymMain.css">
    <link rel="stylesheet" href="/css/gym/information/UseMachines.css">
</head>
<body>
    <th:block th:replace="~{/common/header}">헤더</th:block>
    <th:block th:replace="~{gym/gymHeader}"></th:block>
    <div class="gym_container">
        <h3>기구 사용법</h3>
        <div class="gym_type">
            <ul>
                <li><a href="/gym/information/useMachines">기구 사용법</a></li>
                <li><a href="/gym/information/stretching">스트레칭</a></li>
            </ul>
        </div>
        <div class="gym_items">
            <th:block th:each="machine : ${result.useMachines}">
                <div class="gym_item">
                    <div class="gym_thumb">
                        <a th:href="@{/gym/information/useMachine/{id}(id=${machine.id})}">
                            <img th:src="${machine.imageUrl}" alt="Image" width="205">
                        </a>
                    </div>
                    <div class="gym_name" th:text="${machine.name}"></div>
                </div>
            </th:block>
        </div>
        <div class="gym_pagination">
            <ul class="pagination">
                <li th:each="i : ${#numbers.sequence(0, (result.totalItems / result.pageSize) + 1)}">
                    <a th:href="@{/gym/information/useMachines(page=${i}, size=${result.pageSize})}"
                       th:text="${i + 1}" th:class="${i == result.currentPage} ? 'current' : ''"></a>
                </li>
            </ul>
        </div>
    </div>
    <th:block th:replace="~{common/footer}"></th:block>
</body>
</html>
