<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 메일은 header 불필요 -->
<body>

  <!-- css/js 파일은 이메일 첨부 불가 -->
  <div style="display: flex; flex-direction: column; align-items: center;">
    
    <!-- Content-ID로 등록된 이미지 중 logo를 출력 -->
    <img src="cid:logo" width="200px">

    <h3>
      아래 발급된 인증 번호를 제한 시간 내에 
      <br>
      회원 가입 화면에 입력 후 인증 버튼을 눌러주세요.
    </h3>

    <h3 style="text-align: center; border: 3px solid black; color:blue; width: 400px; padding:10px;" >
      <th:block th:text="${authKey}"></th:block>
    </h3>
  </div>
</body>
</html>